[2017-08-09 12:20] bwhelm opened #1 "Multi-key mappings don't register"
In my vimrc, I have single-character mappings that work just fine. But no multi-key mapping seems to work at all, which includes all `<Leader>` mappings: the first key gets ignored, and subsequent keys are taken as if the first key were not pressed. For example:

    nmap <Leader>m :messages<CR>

When I type my `<Leader>` key (currently set to `,`, but changing it doesn't seem to matter), nothing

[2017-08-09 12:27] bwhelm opened #2 "<Ctrl> key is too sticky"
I understand the stickiness of the `<Ctrl>` key, but for my uses it's *too* sticky. Most of the time, when I enter a <Ctrl> command, I do it once and then go back no non-<Ctrl> commands. So for me, at least, it is annoying to have to swipe the `<Ctrl>` key, hit a normal key, re-swipe the `<Ctrl>` key, and get on with my editing. Would it be better to "release" the `<Ctrl>` key after the first <Ctr

[2017-08-09 12:46] bwhelm opened #3 "Improve external keyboard support"
Vim, of course, works best with a hardware keyboard. Mostly it works well, but special keys like `<Ctrl>` and `<Esc>` are not recognized properly.

- `<Esc>` doesn't seem to work at all: I must use the software keyboard to enter this.
- `<Ctrl>` seems to register (so that `<C-a>` is different from `a`), but `<C-a>` seems to do nothing. For example, if in normal mode I type `<C-a>` over a number, n

[2017-08-12 02:21] terrychou commented on #1
Thanks for feedbacks! Yes, I am aware of this problem now, looking into it.

[2017-08-12 02:27] terrychou commented on #2
I have made the `<Ctrl>` key sticky like this because that there would be many cases when continuous `C-` are needed. And on iOS, it is not so convenient to hold a finger on the `<Ctrl>` key like we do on the real keyboards. By the way, to release the `<Ctrl>` key, a simple tap rather than a swipe will do. :)

[2017-08-12 02:30] terrychou commented on #3
For now, there is no direct support (no code to handle) for external keyboards input in iVim because it might conflict with the multistage inputs. It may be added in coming versions.

[2017-08-18 03:31] #1 closed

[2017-08-18 19:08] cormullion opened #4 "copy paste and iOS 11"
iVIm is great! Just wondering whether it will work OK in IOS 11?

Also, is there a way to copy text to and from iVim and other apps via the clipboard?

[2017-08-20 06:43] terrychou commented on #4
Although it has not been actually tested yet, I think iVim will work fine on iOS 11 as long as there is no big changes in APIs.

The interaction with the system clipboard part has not been implemented yet, I will give it a try.

[2017-08-21 10:45] sedm0784 opened #5 "Amazing!"
This is not actually an issue, but I can't find any other way of contacting you on your github profile.

This port is awesome. This fixes all the issues I had with the Applidium port that made it unusable for me.

Thanks!

[2017-08-21 11:20] sedm0784 opened #6 "Is it possible to close the on screen keyboard?"
In the Applidium port, using a two finger drag to scroll would cause iOS's on screen keyboard to close, which, on a phone, was much nicer for reading long segments of text.

This port doesn't seem to do that. Is there another method of closing the soft keyboard, and, if not, is it possible to create one, or reinstate the old behaviour?

[2017-08-21 11:31] sedm0784 opened #7 "Dark Theme"
Vim allows many different `colorschemes`, but the software keyboard displayed is currently always a light one.

Ideally, I'd like Vim to auto-adjust the keyboard colour (with [UIKeyboardAppearance](https://developer.apple.com/documentation/uikit/uikeyboardappearance)) based on the `background` setting, but any method of setting the keyboard colour would work for me.

[2017-08-21 11:42] sedm0784 commented on #2
FWIW, although I imagine I'll get used to it, I'd prefer a semi-sticky Ctrl key (that auto-releases after the first chord is typed) too. Consistency with the other apps I have that add keys like this would be helpful for my muscle memory and, for me, the number of times I need a single `C-` significantly outweigh the number of times I need a continuous `C-`.

Really, I think it should work exactly

[2017-08-21 12:04] bwhelm commented on #5
Agreed -- it is awesome. Thanks very much for your hard work!

[2017-08-21 12:14] bwhelm opened #8 "Crash with long global variable names"
From the command line, enter

     let g:a_very_long_global_variable_name = 1

iVim instantly crashes. Any global variable name with 30 or more characters will make iVim crash.

Note that this is particularly problematic when a global variable name is defined in `.vimrc` or a plugin or any other file `source`d on launch: iVim immediately crashes, leaving the user no choice (as far as I can see) bu

[2017-08-21 12:23] bwhelm opened #9 "When iVim crashes on startup: need for `vim -u NONE`"
I mentioned in #8 that long global variable names will crash iVim immediately. When this happens on startup because the variable name is in `.vimrc`, iVim becomes unusable and must be re-installed, and any customizations in `.vim` must be recreated.

It would be nice, therefore, to have the possibility of something equivalent to `vim -u NONE` so that the user can recover without starting over. One

[2017-08-22 09:05] sedm0784 opened #10 "Typo in the README"
should be *Giants'*

[2017-08-22 12:32] terrychou commented on #5
Glad to know that you people like it! And you are welcome. Actually, your feedbacks often inspire me. Just keep them coming :)

[2017-08-22 12:32] #5 closed

[2017-08-22 12:36] terrychou commented on #6
iVim does not have specific code to handle this. On an iPad, I think you can hide the keyboard via the key on the right bottom.

[2017-08-22 12:42] terrychou commented on #9
This is a good idea. Actually, I have already added options in the Settings.app for users to offer launch arguments for iVim, in the uncommitted code. I don't know how you are using iVim: install it from the App Store or compile it yourself? If the latter, I can push the code to github so that you can test before I put it on the App Store?

[2017-08-22 12:46] terrychou commented on #10
Yes, you are right. Thanks for the hint. :)

[2017-08-22 12:47] #10 closed

[2017-08-22 12:51] terrychou commented on #2
This is also becoming obvious to me. So I will reopen it as an issue, and try to make some improvements.

[2017-08-22 13:18] sedm0784 opened #11 "Is there a good way of detecting iVim/iOS from Vimscript?"
I currently share my `vimrc` across many devices, and, although *sharing* it will not be possible with iVim, I'd still like to be able to just copy it in whenever I make meaningful changes. I therefore need a way of detecting that I'm running in iOS.

I've come up with the following, which just catches the error thrown when running my usual OS detection code, but is there a better way?

    if has

[2017-08-22 16:47] bwhelm commented on #9
I don't have a paid Apple account, so I've installed iVim from the App
Store. I can compile it to test (albeit without sharing capabilities). It's
also possible to use TestFlight.app for testing. Whatever's easiest for you.

On Tue, Aug 22, 2017 at 8:42 AM, Terry Chou <notifications@github.com>
wrote:

[2017-08-22 16:52] bwhelm commented on #11
Try:

    :echo hostname()

iVim should return `iPad`.

[2017-08-22 17:31] sedm0784 commented on #11
Terrific. Thanks!

[2017-08-22 17:31] #11 closed

[2017-08-23 02:30] #4 closed

[2017-08-23 02:36] terrychou commented on #9
Let's try the compiling way this time, because the compiling way itself needs testing too :).

[2017-08-23 03:35] bwhelm commented on #9
Well, I can sort of test it. I have iOS 11 public beta 5 installed on my iPad Air 2. When I try compiling from Xcode 8.3.3, Xcode tells me it "may not be compatible" with iOS 11, and so it refuses to compile. So I can't test it live.

However, I did use the simulator, testing on an iPad Air 2. Here's what I did:

1. Launch iVim, create `~/.vim/vimrc` with the following:

As reported in #8, this cu

[2017-08-23 12:43] terrychou commented on #9
Thank you! It seems that the launch arguments part is working, though not all of the arguments are supported here.

As to the additional note, although it may help in some cases, it looks a little bit redundant in most other ones. My opinion is since the user has already come to this point turning to the command line arguments, they must have known which ones they want.

However, it may be better

[2017-08-25 01:01] bwhelm commented on #9
"Launch with factory defaults" sounds good to me. It's not only beginners who will need a reminder of what the command line arguments are: I had to look up `-u NONE`, and in 6 months when I need it again I'll probably have forgotten.

[2017-08-25 06:22] terrychou commented on #8
Please do some testings concerning this part.

[2017-08-25 12:16] bwhelm commented on #8
Once again I'm testing in the simulator and not on my iPad, but everything seems to work here. Thanks!

[2017-08-25 16:03] mvolkmann commented on #3
Adding support the for the esc key on external keyboards would be huge feature!

[2017-08-26 19:09] lifepillar opened #12 "iTunes File Sharing"
I do not see iVim listed among the apps in iTunes file sharing. I recall that the old Vim app had that feature. Is there a plan to add iTunes file sharing to iVim?

On a related note, what is the best way to transfer my .vim folder to iVim? With `:idocuments` command I seem to be able to import a single file at a time.

[2017-08-27 02:39] terrychou commented on #12
iVim has not enabled the iTunes file sharing yet so far. It will be added.

Because `:idocuments` is mainly for file editing, it would be better to use the iTunes file sharing to transfer a bunch of files.

[2017-08-27 18:34] lifepillar commented on #12
Thanks for the reply. I have used `:idocuments` to import my `vimrc` and a few other files. A bit laborious, but doable. Looking forward to seeing iTunes file sharing implemented!

[2017-08-27 18:37] lifepillar commented on #6
On a phone, go to landscape mode to see the bottom right button to dismiss the keyboard. When the keyboard is closed, you may turn the phone to portrait mode if you want.

Tapping anywhere on the screen will make the keyboard reappear.

[2017-08-28 04:15] terrychou commented on #3
I am implementing the external keyboard support now, would you people like to test it with TestFlight? Please offer me your emails.

[2017-08-28 10:41] mvolkmann commented on #3
Sure, I'll test it! r.mark.volkmann@gmail.com

[2017-08-29 10:42] lifepillar opened #13 "iVim crashes on omni-completion with syntaxcomplete#Complete()"
To reproduce:

[code]
Then start typing something and trigger omni-completion (`<c-x><c-o>`). iVim crashes immediately.

[2017-08-29 14:01] terrychou commented on #13
The new version 1.10 has been just released on the App Store, I think it has already solved this problem. Update and give it a try.

[2017-08-29 14:07] terrychou commented on #3
The beta version has been sent to your emails, if I did not misspell them :).

[2017-08-29 16:29] sedm0784 commented on #9
I'd prefer "Launch with Vim defaults" and for the arguments used to be `-Nu NONE`. I occasionally like to ignore my `vimrc`. I never want to use `vi` defaults.

[2017-08-29 16:35] lifepillar commented on #2
Alternatively to double tapping for stickiness (which might trigger Esc-Esc by mistake), I'd suggest the following: swiping Esc turns the key into sticky Ctrl (the current behaviour), but tapping and holding triggers a non-sticky Ctrl that lasts as long as the key is not released.

[2017-08-29 16:41] lifepillar commented on #13
Yes, that's fixed. Great job thanks!

[2017-08-29 17:06] lifepillar commented on #2
…or vice versa :) I see that in the current version Ctrl is not sticky any longer. But that makes some mappings a bit less convenient to type, like those for scrolling.

[2017-08-29 23:52] bwhelm commented on #3
I've tested the beta with iOS 11 and an Apple keyboard, using Dvorak key mapping. Here's what I found:

1. The most common keys seem to be working: `<Esc>`, standard arrow keys, `<C-[lowercase letter]>`, `<C-[>`, `<C-]>`, `<C-\>`, and all `<Opt-[key]>`.
2. What's not working: `<C-CR>`, `<C-Tab>`, and `<C-[arrow keys]>`.
3. `<Cmd-[key]>` doesn't seem to be recognized at all, though since that's not

[2017-08-30 00:07] mvolkmann commented on #3
I just tested the esc key. Works great! Thanks so much for adding this!

Can this be used to edit files on Dropbox? How about files in a GitHub repo?

---
R. Mark Volkmann
Object Computing, Inc.

[2017-08-30 00:14] bwhelm commented on #3
(On Dropbox and GitHub: see `:h idoc` for details. You'll of course need an iOS git client; I can recommend Working Copy.app, but there may well be others.)

[2017-08-30 02:00] #13 closed

[2017-08-30 02:01] terrychou commented on #8
Fixed in version 1.10

[2017-08-30 02:01] #8 closed

[2017-08-30 02:03] terrychou commented on #2
Try to trigger the `ctrl` twice (drag-and-release twice) (:h ios-extended-keyboard)

[2017-08-30 06:24] lifepillar commented on #2
I see. Ok, that's fine with me!

[2017-08-30 09:40] sedm0784 commented on #2
FWIW, the current behaviour is perfect for me!

[2017-08-30 11:26] sedm0784 opened #14 "Why not Vim 8?"
This is not a problem for me&thinsp;&mdash;&thinsp;I'm actually still running Vim 7.4 on all my computers&thinsp;&mdash;&thinsp;I'm just curious: why is iVim Vim 7 and not Vim 8?

[2017-08-30 11:31] sedm0784 commented on #6
I very rarely use the landscape keyboard (hate the positioning of the extra keys on larger iPhones) so I've somehow never noticed that the keyboard dismiss button is always present.

Just using this key works for me, so as far as I'm concerned, this issue can be closed (I won't close it myself in case you still intend to add a method that doesn't involve rotating the phone).

Thanks!

[2017-08-30 12:34] #2 closed

[2017-08-31 01:07] bwhelm commented on #3
Playing around with this a bit more, I notice that keys do not repeat. That would be nice to have on an external keyboard.

[2017-08-31 01:11] bwhelm commented on #12
This seems to work very nicely. I imported the .vim folder from my main computer, and everything copied well, including hidden files/folders, such as `.git` folders. (Exporting those hidden files/folders is another matter, but that may be an iOS/iTunes limitation.) With limited testing, I haven't encountered any problems.

[2017-08-31 07:41] lifepillar commented on #12
I use the latest version from the App Store, and I do not see iVim in iTunes. @bwhelm Have you built iVim yourself?

[2017-08-31 08:54] terrychou commented on #3
@bwhelm What did you mean by "swap around keys"? Could you give an example?

As to all the expected keys and mappings you listed in the testing result, which platform are they based on? gvim? For example, <C-Tab> seems not working in vim in a shell.

[2017-08-31 08:57] terrychou commented on #12
They are testing the beta version via TestFlight. If you have interest to take part, please give me your email.

[2017-08-31 08:59] sedm0784 commented on #3
I hesitated to post this before, because `has("gui_running")` returns true in iVim, so I presumed it was a GUI Vim rather than a terminal Vim, but `<C-Tab>` *cannot* work in terminal Vim, and `<C-CR>` and `<C-arrows>` don't work reliably, because terminals handle them in different ways.

[This article](https://catern.com/posts/terminal_quirks.html) is a good introduction to some of the issues.

[2017-08-31 09:02] sedm0784 commented on #3
Many Vim users like to remap their Caps Lock key to perform some other function, such as Esc or Ctrl ([or both](https://gist.github.com/sedm0784/4443120)!)

[2017-08-31 09:35] sedm0784 opened #15 "Settings.app section is a bit cryptic"
The new section in the Settings app is fairly sparse. I know what the **Arguments** setting is for because I've been following developments here on github, but I wouldn't have been confident in guessing what it did if I hadn't. Without having tried it, I'm also pretty unclear on what the **Always** toggle does.

I think some descriptive labels would be helpful. For **Arguments** I'd suggest someth

[2017-08-31 09:55] sedm0784 opened #16 "Is it possible to delete a directory?"
I created a directory which I no longer require. Deleting files in netrw by pressing `D` works fine, but attempting to delete this directory results in the message `Cannot fork` followed by a string of errors.

I'm guessing this is because netrw somehow deletes files directly (perhaps with `delete()`?) but deletes directories by attempting to shell out, which fails because this is not supported in

[2017-08-31 11:57] bwhelm commented on #3
Yes: that's what I meant. So you press the `<CapsLock>` key, and Vim interprets it as `<Esc>` or as `<Ctrl>`.

[2017-08-31 13:40] terrychou commented on #3
Ok, you just meant to "remap the `caps lock` key", not swapping it with another one. It will be implemented.

Also, what other key combinations do you expect? like besides a single modifier key, do you expect multiple ones such as `<D-C-Tab>`? Is there a list of key combinations that vim supports?

[2017-08-31 13:48] terrychou commented on #14
I have been considering this. Since I have been trying best to make iVim's own code interfere with vim's as least as possible, it would not be a difficult thing to do. However, it would be sort of "trivial". There would be many little aspects you have to take into account: modified parts, differences between vim 7 and 8, testing etc. Therefore, I don't see it has high priority right now.

[2017-08-31 13:52] terrychou commented on #15
Actually, I just updated the related part in the help file `:help ios-settings` after I added it to iVim. Maybe you are right, people aren't very fond of help documents these days, I may need to add some "in-line" information.

[2017-08-31 13:54] terrychou commented on #16
I think you need to empty the directory first before you can delete it via netrw.

[2017-08-31 13:56] terrychou commented on #6
I will think about it. Then I will close this issue if I don't get anything exciting.:)

[2017-08-31 13:57] terrychou commented on #7
I will give it a consider but with low priority.

[2017-08-31 14:39] lifepillar commented on #16
I have tried `call delete('.vim/some/empty/dir')`, and it fails returning `-1`.

Other file operations, fail, too, like moving files.

[2017-08-31 14:41] lifepillar opened #17 "Backspace sends ^H (CTRL-H)"
As the subject says, deleting a character sends `^H`. Is that intended? Shouldn't it send `<BS>`?

[2017-08-31 17:28] bwhelm commented on #3
To be honest, I don't understand all the interactions between Vim and various terminals and guis. Depending on what I need to do or what computer I'm on, I use vim (or neovim) in the terminal (with or without tmux), or with the gui (MacVim or VimR), and some of these allow for broader ranges of key combinations than others. As a result, I tend to go with what I know will work in all of them, which

[2017-09-01 06:18] terrychou commented on #17
Please be more specific. Under what situation this happens? How can it be reproduced? How did you realize it as a problem? etc. More detailed information would help solve it faster.

[2017-09-01 16:05] sedm0784 commented on #15
Hah. I should've looked there first. Still, I think having the info "in-line" would be helpful, and can't do any harm.

[2017-09-01 16:08] sedm0784 commented on #16
As far as I'm aware, the directory *is* empty: I deleted all the files that I put in there, and netrw doesn't display anything in that directory.

[2017-09-01 16:12] sedm0784 commented on #16
I think that function can only delete files, not directories. On the version of Vim on my computer, it has an extra `flags` argument that can be used for deleting directories, but the iVim version doesn't seem to include this flag.

[2017-09-01 16:18] sedm0784 commented on #7
I might have a crack at this myself, actually. (At first, via a new setting in Settings.app rather than the automated version I describe above, which I presume would require changes in Vim's upstream codebase.)

If I do so, would you consider merging a pull request?

[2017-09-01 18:49] lifepillar commented on #17
To reproduce, type Ctrl-V followed by backspace in Insert mode. In terminal Vim, I get `^?`, but in iVim I get `^H`. In MacVim, I get `<BS>` (that's four characters), but I think that the character code is the same as in terminal Vim.

Character info can be obtained by placing the cursor over the character and typing `ga`. I get the following results, respectively:

[code]

This prevents, for exam

[2017-09-02 02:24] terrychou commented on #7
Of course, it would be great if you take part to make iVim better.

Just one note, to make the code easy for maintaining, I have been trying best to modify as least code of the original vim as possible. It would be nice if the added function interferes with other parts in the least degree.

[2017-09-02 02:25] terrychou commented on #17
Thank you for the information, I will look into it.

[2017-09-02 09:41] terrychou commented on #3
Just submitted the 2nd build of the beta version via TestFlight.

However, this build is supposed to be buggy:

The external keyboard related part had been almost rewritten.

1. now the chords include `D-key`, `A-key`,`C-key`, key means all alphabets, numerics, symbols, tab, enter, esc, arrows. It is weird `C-CR` never worked on my side.

2. there is no multiple modifiers chords

3. added the `cap

[2017-09-02 14:06] bwhelm commented on #3
1. `D-key` and `C-key` seem to be working in most cases. Thus if I nmap `D-a` to `ihello<Esc>`, and then hit "<D-a>" in normal mode, "hello" is inserted, as expected. This seems to work for all single keymaps I've tried. However:
    1. `A-key` does not work as I'd expect. (See my comment above: I would leave `<Alt>` mappings alone because they have standard uses on iOS. But setting this aside....

[2017-09-02 18:26] mvolkmann commented on #3
The idoc command paired with "Working Copy" works great!
Should the ":e" command work to reload iVim with the latest version of a file in the local Git repo? It doesn't seem to work.

---
R. Mark Volkmann
Object Computing, Inc.

[2017-09-04 05:01] terrychou commented on #3
Submitted build 3 of the beta 1.12.

1. Except for chords `<A-Esc>`, `<A-arrows>`, `<A-Tab>` and `<A-CR>`, now my code does not handle the `alt` key. It means it should behave in the default way. However, there is still a problem I have found: the `<A-e>a` would leave two characters, therefore, it needs special handling.

2. The `<C-t>m` related problems have been solved.

3. By "`<C-CR>` never wo

[2017-09-04 17:44] bwhelm commented on #3
1. I'm seeing the same thing with `A-[normal key]`: typing `<A-e>a` produces "´é".  However, `A-Esc`, `A-arrows`, `A-Tab`, and `A-CR` all seem to work (as they do for you).

2. `<C-t>m` does work now -- thanks!

3. I'm not sure whether I'm seeing the same as you with `caps-lock` when this has been mapped to `ctrl`. With this mapping, pressing (and holding) `caps-lock` while typing another key no l

[2017-09-05 08:00] terrychou commented on #3
Tried the blink shell: (also in the simulator)

1. `<C-CR>` seems not working either.

2. Mapping `caps lock` to `esc` only works when `Auto repeat` is enabled. Otherwise, it will have the "uppercased letters" problem too. (by the way, setting in "MODIFIER MAPPINGS" didn't make the mapping work; "Caps as Esc" in "SPECIAL KEYS" did)

3. Setting to map `caps lock` to `ctrl` in "MODIFIER MAPPINGS" di

[2017-09-06 19:47] bwhelm commented on #3
Alas. Thanks for looking.

For (3): Settings > Keyboard > Modifier Mappings > CapsLock, select Ctrl. (That sounds like what you did, but it works for me on the iPad.

[2017-09-07 04:22] terrychou commented on #17
Fixed in version 1.12

[2017-09-07 04:22] #17 closed

[2017-09-07 04:24] terrychou commented on #12
Enabled in version 1.12

[2017-09-07 04:24] #12 closed

[2017-09-07 04:26] terrychou commented on #3
@mvolkmann Could you open another issue for this problem? and please tell me the steps how you can reproduce it.

[2017-09-07 04:29] terrychou commented on #16
@sedm0784 which version were you talking about?

[2017-09-07 08:38] holzschu opened #18 "Open-in-place and iOS11 document support"
Would it be possible to have "open-in-place", so iVim can edit documents inside the cloud, or inside the sandbox of other apps? This really makes the editor more useful.

[2017-09-07 08:42] holzschu commented on #3
It's great that the Escape and Control keys on external keyboards now work.
I noticed that the function keys (F1, F2...) don't work. Can you enable them?

[2017-09-07 09:28] holzschu commented on #3
Also, auto-repeat is really useful in command mode. I understand your issue with entering multiple-letter characters (although an option to disable that would be nice), but in command mode, I like to press "k" several times to move up or down.

[2017-09-07 10:41] mvolkmann commented on #3
In Settings > Keyboard on my iPad, I don't see "Modifier Mappings".

---
R. Mark Volkmann
Object Computing, Inc.

[2017-09-08 03:01] terrychou commented on #18
See ":h :idocuments" for "open in place" in iVim. iOS 11 document support is in consideration.

[2017-09-08 03:13] terrychou commented on #3
@holzschu Couldn't figure out how to register for events from the function keys. So they are not working (:h ios-external-keyboard).

As to the key repeating, I would wait for a better solution because the current candidate would bring confusion  to the whole app. (Incidently, IMHO, vim is the last place that needs this feature.)

[2017-09-08 03:18] terrychou commented on #3
@bwhelm Tried it on the device too. It sort of "works". But since I have enabled several keyboards (English, Chinese, emoji...) and the original role of `caps lock` key is to switching among them, it will behave like: every time I trigger a `C-` chords through it, it will change my keyboard, then I need to switch it back manually. Sigh.

[2017-09-11 08:45] sedm0784 commented on #16
@terrychou Not sure to what your question refers. The issue as reported exists in the current App Store version of iVim. I can add more details of the precise error messages if the issue is _not_ as simple as I suggested and if you want to look into it.

The `flags` argument to `delete()` is present in Vim 7.4 with patches 1-2196. I'm not sure when it was introduced.

[2017-09-12 04:28] terrychou commented on #16
I see that vim of version 8 has this `flag` available, so I guess it may not be possible to delete a directory via a vim function before.

[2017-09-12 09:08] sedm0784 commented on #16
@terrychou Not sure if you misread my message. The new `flag` is present as of patch 2196 (i.e. before v8).

Regardless, since I opened this issue, you've enabled "File Sharing", and IIRC this means I should be able to delete the empty directory via iTunes, so I'm closing the issue.

[2017-09-12 09:08] #16 closed

[2017-09-12 14:18] terrychou commented on #16
@sedm0784 No, I didn't misunderstand you. I know that you said it was a patched version for 7. By what I replied, I meant that I checked the version 8 and found that it had that available. Since it was added, it means that there wasn't alternative way to fulfill the function.

[2017-09-12 15:01] sedm0784 commented on #16
For posterity's sake, I just looked it up, and it looks as though the `flag` parameter was [added to `delete()` in patch 1107](http://ftp.vim.org/pub/vim/patches/7.4/README). (The latest patch iVim includes is patch 900.)

[2017-09-24 03:34] ckanthony commented on #18
it works perfectly, thanks for bringing this to us!

[2017-09-24 03:48] ckanthony opened #19 "can't import font"
when I use iOS11 file to open a ttf font to iVim using the share extension, it displays an error says the
"failed to import font [font name]".  I tried serval different fonts and it won't work.

[2017-09-26 09:49] terrychou commented on #19
current version is not working well with the Files app in iOS 11, it will be solved in the new version.

[2017-10-05 06:20] ckanthony opened #20 "support elixir files"
Please enable more file type to be able to open document picker,
I recently developing elixir files with .exs and .ex file extension.
It is grayed out in the document picker currently

[2017-10-06 01:15] goerz opened #21 "Extended keyboard covers iOS11 Files picker"
When opening the Files document picker with `:idocuments` while the extended keyboard is active, the keyboard line covers the bottom of the picker (where the "Browse" and "Recent" tabs are), see screenshot below:

![img_0119](https://user-images.githubusercontent.com/112306/31258733-5e3f04b6-aa0f-11e7-9837-9f7286369757.PNG)

This makes it impossible to navigate the documents picker.

[2017-10-06 07:25] terrychou commented on #20
the coming update enables iVim to open all file types

[2017-10-06 07:27] ckanthony commented on #20
please also enable folder, thanks!

Anthony

On 6 Oct 2017, 3:25 PM +0800, Terry Chou <notifications@github.com>, wrote:

[2017-10-06 07:28] terrychou commented on #21
It's been solved in the coming version.

[2017-10-06 07:34] terrychou commented on #20
Enable folder? Do you mean open a folder in iVim?

[2017-10-06 07:43] ckanthony commented on #20
yes, then i can use :e to access the file in a project, that will be so good

Anthony

On 6 Oct 2017, 3:34 PM +0800, Terry Chou <notifications@github.com>, wrote:

[2017-10-07 02:25] terrychou commented on #6
Solved in version 1.20

[2017-10-07 02:25] #6 closed

[2017-10-07 02:27] terrychou commented on #18
Done in version 1.20

[2017-10-07 02:27] #18 closed

[2017-10-07 02:27] terrychou commented on #19
Solved in version 1.20

[2017-10-07 02:27] #19 closed

[2017-10-07 02:28] terrychou commented on #21
Fixed in version 1.20

[2017-10-07 02:28] #21 closed

[2017-10-07 02:31] terrychou commented on #20
This seems not feasible in the current implementation of iVim. But I will give it a consideration.

[2017-10-07 03:00] ckanthony commented on #20
This is very powerful, please do give it a consideration

Anthony

On 7 Oct 2017, 10:32 AM +0800, Terry Chou <notifications@github.com>, wrote:

[2017-10-08 06:18] ckanthony opened #22 "support autoload files?"
i tried to install vim-plug https://github.com/junegunn/vim-plug by putting their plug.vim into ~/.vim/autoload/, however, the command of plug are not registered

[2017-10-09 01:57] terrychou commented on #22
According to its script, vim-plug requires executable `git` installed to run. Unfortunately, this is not allowed in iOS systems.

[2017-10-11 03:01] #22 closed

[2017-10-11 03:28] ckanthony commented on #22
You are right, I am using pathogen and it works well

Anthony

On 11 Oct 2017, 11:01 AM +0800, Terry Chou <notifications@github.com>, wrote:

[2017-10-13 00:55] bwhelm commented on #3
You found that remapping `CapsLock` to either `Ctrl` or `Esc` is incompatible with multistage input, and so made the quite reasonable decision to drop `CapsLock` remapping.

The thought occurred to me: might it be possible (and worthwhile) to create an option in Settings.app for a user to decide whether to enable `CapsLock` setting (at the expense of multistage input and keyboard switching) or dis

[2017-10-17 03:28] terrychou commented on #3
I will think about it but with a low priority.

[2017-11-10 10:08] holzschu opened #24 "Add Copy/Paste buttons to the extra keyboard"
Occasionally, users need to copy/paste things to the system clipboard. While it's always possible using, say "+p and "+y, it's not too easy for the average user.

It would be possible to add "Copy" and "Paste" buttons to the extra keyboard (the one with Esc, Tab, ...) to allow the user to copy and paste to/from the system clipboard, as in @eminarcissus branch of VimIOS: https://github.com/eminarci

[2017-11-10 10:49] holzschu opened #25 "Some external keyboard events are not sent to the app"
The new external keyboard support is great. It make iVim really easier to use.

However, I found that some events are not forwarded to the app. `<D-R>` is sent, and triggers the nmap associated, but `<D-V>` is not sent (it never arrives into input_special_name and input_special_key).

As far as I can tell, the missing keys are: `<D-V>`, `<D-C>`, `<D-X>` and `<D-Z>`

[2017-11-10 17:10] sedm0784 commented on #24
Personally, I'm not in favour of this. I'd prefer the keyboard only contain things of more general use.

If we're looking for new additions, I'd choose separate ctrl and esc keys, or a meta key over this.

I'm also slightly sceptical that "the average user" will ever be *using* iVim. It seems more likely to me that the userbase will always be restricted to Vim enthusiasts (who will already know ab

[2017-11-10 17:12] sedm0784 commented on #25
Markdown has eaten some of your keystrokes. (I'm guessing ones surrounded by angle brackets.) Surround them with backticks to stop this! e.g. \`&lt;cr>\`

[2017-11-10 21:52] holzschu commented on #25
Thanks, I updated the issue.

[2017-11-12 06:12] terrychou commented on #25
Those chords are reserved by the iOS system. For example, `D-C` is for `copy`. And they cannot be overridden in the way iVim is using. I will try to add them with workarounds.

[2017-11-12 06:23] terrychou commented on #24
The real estate of the extra keyboard is really precious. :) If I could get another line of room for more buttons, I will never hesitate to add them for an intuitive use.

Maybe there is a better way to provide extra keys...

[2017-11-12 19:58] holzschu commented on #24
I understand your concern with real estate issues on small terminals (such as phones). On larger terminals (like iPads, especially the big ones), there is a lot of space available on the row, and even more space that could be freed because the extra keys are already on the standard keyboard (numbers, brackets...) So maybe the issue is: have different versions of the extra keyboard, depending on te

[2017-11-12 19:59] holzschu commented on #25
Yes, that would be really cool. @eminarcissus managed to do it in his port of Vim (https://github.com/eminarcissus/VimIOS ), although I don't understand how he did it (the differences with this port appear to be subtle).

[2017-11-17 20:34] holzschu commented on #25
I found it; the solution is through `override func canPerformAction(_ action: Selector, withSender sender: Any?) -> Bool`. It can do copy, paste and cut (`<D-c>`, `<D-v>` and `<D-x>`).

I am still missing a way to access `<D-z>`.

[2017-11-18 01:50] terrychou commented on #25
Yes, but it would be better to override methods such as copy:, cut:.
the coming version will include `<D-c>`, `<D-x>`, `<D-v>` and `<D-a>`.
and `<D-z>` is probably reserved by system for the undo mechanism, we'd better leave it alone like `<D-h>` and `<D-.>`.

Hey, would you like test iVim via TestFlight? Please give me your email if you would.

[2017-11-18 09:33] holzschu commented on #25
That's very nice of you, but I have my own fork (where I'm implementing commands inside iVim). If you just push your changes, I'll pull from upstream.

[2017-11-29 14:57] bwhelm opened #27 ":idoc not identifying tagged folders"
In Files.app I have some files and some folders marked with tags, and I can successfully access them through the Browse panel.
In iVim, `:idoc` allows browsing of files much like in Files.app. However, selecting a tag in the Browse panel will display only a list of files with that tag, and will not display any folders that have that tag.

[2017-11-30 02:10] drbarrett opened #28 "Voice keyboard crashes iVim"
Hitting the dictation button on the soft keyboard causes iVim to crash. Once the dictation keyboard appears pressing either the keyboard or mute icons triggers the crash.

Turning off dictation in the settings app works around the problem.

[2017-11-30 09:43] JackNotTaken opened #29 "I am getting this error:"
Every time I press i for 'insert mode', the following message appears:

Error detected while processing function InsertStatuslineColor:
E254: Cannot allocate colour DarkYellow
Press ENTER or type command to continue

I, then pressed something and I can continue to edit as normal.  The colour of the -- INSERT -- indicator is blue instead of DarkYellow.  Everything else runs smoothly.

For your info

[2017-11-30 15:59] drbarrett commented on #24
It'd be nice if you could customize the extra key row in your .vimrc either like how the statusbar or the guioptions work. Although then you'd want to have different sets of options if it's a phone or ipad.

At a minimum, a different fixed bar for ipad would be great. There's no need to duplicate the keys that are on the main keyboard now. It seems there are 11 characters that can't be found on th

[2017-11-30 16:16] sedm0784 commented on #24
Nope, that's not new. You can also drag from the mode or shift key to another key and then release to access those keys with a single (dragged) touch from a single finger!

[2017-12-01 02:41] terrychou commented on #25
Solved in commit dc51291aa64e76f98179bde90c1c6815178e059d

[2017-12-01 02:41] #25 closed

[2017-12-01 02:47] terrychou commented on #29
This happens because iVim isn't providing color value for 'DarkYellow' right now.
It will be added.

[2017-12-01 05:33] terrychou commented on #29
It is wired that I am not having this problem while using the color scheme provided above.

[2017-12-01 11:21] JackNotTaken commented on #29
[Archive.zip](https://github.com/terrychou/iVim/files/1521365/Archive.zip)
I just uploaded compressed version of vim colorscheme, also included in my vimrc.  But as mentioned I always use solarized.  The other two, however, lucius and zenburn are also installed.  Just mentioning, don't know if this has an effect or not.

[2017-12-01 12:09] JackNotTaken commented on #29
Also this is what it looks like:

[IMG_0083.JPG.zip](https://github.com/terrychou/iVim/files/1521524/IMG_0083.JPG.zip)

[2017-12-02 02:25] terrychou commented on #29
could you provide your .vimrc? I suspect that it may be the differences in configuration cause the different results.

[2017-12-02 03:31] JackNotTaken commented on #29
You may be write.  I have inspected my vimrc and it included a line setting the status line colour.  Attached is my vimrc file.  Should I replaced the DarkYellow to just Yellow?  Please advice.
[vimrc.txt.zip](https://github.com/terrychou/iVim/files/1523532/vimrc.txt.zip)

[2017-12-02 03:32] JackNotTaken commented on #29
By the way this is the same vimrc I also used in my desktop mac-mini.  But never encountered an error.

[2017-12-02 03:33] terrychou commented on #27
Added "folder" type to the document picker. Now it works for most apps in Browse. Certain app still no, which I think might have something to do with its own implementation for Files support.

[2017-12-02 03:43] terrychou commented on #29
It is nothing wrong with using "DarkYellow", since it is a common color name mentioned in vim's documentation. As I mentioned above, this problem is probably caused by the lack of color value for this name in iVim. I am just needing to reproduce your problem to see whether my modification fixes it or not. (You could try replace "DarkYellow" with "Yellow", to confirm this, too.)

[2017-12-02 04:09] terrychou commented on #29
Yes, it is caused by the missing "DarkYellow" value. And it's been fixed now. You could edit your link to your vimrc file if you care about the privacy.

[2017-12-02 08:56] JackNotTaken commented on #29
Thanks.

[2017-12-03 16:38] bwhelm opened #30 "<CapsLock>[arrow] not registering when <CapsLock> mapped to <Ctrl>"
`<Ctrl>`[arrow] mappings normally work fine. However, when `<CapsLock>` is mapped to `<Ctrl>`, the corresponding `<CapsLock>`[arrow] mappings are not registered.

[2017-12-03 16:45] mrzzheng opened #31 "Support for white background"
Hi, is there a way to use a white background instead of black while keep using the default color theme? Would be great if this can be added.

[2017-12-04 03:04] terrychou commented on #30
Which version are you using? They are working for me.

[2017-12-04 08:45] terrychou commented on #31
Try:
`:hi Normal guibg=White guifg=Black`
`:hi Cursor guibg=Gray guifg=NONE`

[2017-12-05 00:19] mrzzheng commented on #31
Worked very well, thank you!

[2017-12-05 00:19] #31 closed

[2017-12-05 01:50] bwhelm commented on #30
Having restarted my iPad, I’m no longer seeing this. Sorry for the noise.

[2017-12-05 01:50] #30 closed

[2017-12-07 06:29] terrychou commented on #28
Fixed this problem and added support for dictation input.
Also, I have added your email address into the TestFlight list so that you can test it on the device. Let me know if you prefer other ways.

[2017-12-07 16:34] drbarrett commented on #28
I downloaded the testflight build, but it looks like it’s a few weeks old.

I’ll build it here and try it out when I get a chance if there isn’t an updated testflight build with it.

[2017-12-07 17:38] drbarrett commented on #28
I just downloaded 1.30 and it opens and closes the dictation keyboard correctly. I switched in and out of it a couple dozen times and couldn't get it to break.

But if I try to dictate anything it still crashes.

This is on an iPad pro with IOS 11.2

[2017-12-08 02:30] terrychou commented on #28
I have pushed up a branch named "dictation". You can build and run it to get more helpful information about the crash. The TestFlight is not so helpful with debugging, honestly.

By the way, I am not having crashes on the dictation input so far.

[2017-12-08 15:27] drbarrett commented on #28
I'll test it, but I'm not actually interested in dictation personally. My problem was mainly in hitting the dictation button by mistake and you fixed that. So don't invest much energy in this unless you feel it's useful.

[2017-12-09 05:41] terrychou commented on #28
It turned out caused by the difference of compiling optimizing.
I'll submit another build to TestFlight.
It is not about "being useful" or not. To me, it is a problem led by the fixed one. It is not guaranteed that no users would touch this bug after the first one is fixed. So if I release it while leaving the problem there, it would happen for other users. It is not good. :)

[2017-12-09 18:07] drbarrett commented on #28
It’s working for me now. And I agree, I just wasn’t sure how high a priority it was. Kinda neat to be able to do voice input to vim anyway.

[2017-12-09 18:11] drbarrett opened #32 "Would be nice to expose the version #"
It would be useful to be able to see the iVim version number in the intro page and with the version command. Probably on the settings page as well. I have multiple copies of ivim on my system and sometimes get confused which is which.

[2017-12-10 18:46] #28 closed

[2017-12-15 11:50] mvolkmann commented on #14
I hope you are able to base iVim on Vim 8 at some point. The main feature in my opinion is support for asynchronous I/O which makes automatic linting of code much faster. Of course that is of little use if it’s not possible to use plugins with iVim. Is it a goal to enable use of plugins like ALE?

[2017-12-15 12:51] monouser7dig opened #33 "vimrc"
Is it possible to have a vimrc?

I used :set num but it was reset after a restart

[2017-12-16 02:00] drbarrett commented on #14
Pure vimscript plugins work and can be loaded with pathogen. Since ALE requires external apps to do the linting there’s no way they'll work here since ivim can’t run other programs.

I assume that holzschu’s fork would work with python based plugins but I haven’t tried to build his version yet.

[2017-12-16 05:56] drbarrett opened #34 "$MYVIMRC environment variable is not set"
The $MYVIMRC and $MYGVIMRC do not get set set when ivim starts up. One of them should be set depending on which init file is found.

I’ll look at the code over the weekend and submit a patch if it's an easy solution.

[2017-12-17 02:35] terrychou commented on #33
Sure, just name it as `.vimrc` and put it under the `Documents` folder (it is your `HOME` in iVim).

[2017-12-17 08:15] monouser7dig commented on #33
thanks, works great!
the :idocuments option is really good as well!

[2017-12-17 08:15] #33 closed

[2017-12-20 18:37] drbarrett commented on #34
This only seems to be a problem if you set it via -u in the settings app. If I let iivim find the vimrc file, it works fine. vim on my mac does the same thing, so while it seems wrong, it's the correct default behavior.

I was trying using a different name because there's no way for the files app to see hidden files and I wanted to be able to get at it from files. It turns out that the _vimrc file

[2017-12-20 18:37] #34 closed

[2017-12-22 05:03] #27 closed

[2017-12-22 05:03] #29 closed

[2017-12-22 05:04] #32 closed

[2017-12-22 10:24] monouser7dig opened #35 ":idoc can not open .c files?"
using :idoc files picker, most file formats are greyed out and can thus not be opened.
Is there a workaround/ is it an iOS restriction?

thanks

[2017-12-22 17:00] mrzzheng opened #36 "Cannot load taglist.vim plugin"
Looks like taglist.vim plugin couldn't be loaded. Is it because system() is not supported? Would be great if it can be supported.
Another issue, looks like tags are not supported if opened from iOS document picker. Is this true/solvable?
Thank you.

[2017-12-23 02:26] terrychou commented on #36
This is a restriction from iOS system that you don't have a shell or cannot pass a command to it via system(). So all plugins going that way wouldn't work.

tags are supported in the document pick in iVim. It may happen sometimes that files from some apps don't go properly due to their implementation details. You can test it in the Files app first (it is the base of the document picker after all).

[2017-12-23 02:36] terrychou commented on #35
iVim should open most types of files. Plain text files (like .c) are supported well.

It may be caused by the original app (from where you are trying to pick the files) sometimes. You may try them in the Files app first. Or you may try and reboot your device.

[2017-12-23 06:44] mrzzheng commented on #36
I think taglist.vim just calls ctags via system() which is built in in iVIM? Is there a way to walk around it? Would be perfect to be able to use taglist.vim...
source code:
https://github.com/vim-scripts/taglist.vim/blob/master/plugin/taglist.vim

Thanks!

[2017-12-23 08:42] terrychou commented on #36
Unfortunately, ctags is integrated into iVim in a way rather than being a shell command. Therefore, it wouldn't work in the way as the plugin's script expects.

[2017-12-23 10:12] monouser7dig commented on #35
The issue appeared in google-drive, it works using iCloudDrive indeed.

[2017-12-24 14:06] mchalkley commented on #3
Rather than open a new issue, since this relates to an external keyboard, I thought I’d post it here, but my problem is VERY basic:  If I type :help ios immediately after opening the app, then ‘j’ down to see the lines further down in the file, each press of the ‘j’ key after reach the bottom of the buffer window increases the font size of the type, rather than scrolling down (except that it does

[2017-12-24 19:18] bwhelm commented on #3
I cannot duplicate this on an iPad Air2, with everything updated. (I tried both with my normal .vimrc/plugins and with `-u NONE` when launching iVim.)

[2017-12-24 21:45] mchalkley commented on #3
It's pretty strange, but it happens with two different bluetooth keyboards on my Pro 10.5.  My Air2 doesn't have this behavior with either of the same two keyboards.  Neither iPad has any of iVim's default configurations modified (indeed, I'm not sure how to do that yet - I've been using the Buffers app for my Vim mode editing).

[2017-12-24 23:41] mchalkley commented on #3
Never mind - it seems to have been caused by the Logitech keyboard driver.  I unpaired that keyboard and the problem disappeared.  I guess it's something specific to the 10.5...  I'm truly sorry for wasting your time.

[2017-12-25 00:55] mchalkley opened #37 "General questions on usage/configuration"
Sorry for the intrusion in this fashion, but I'm not sure what the best way to ask general support questions is.  If this isn't appropriate, I'd really appreciate knowing the right approach.

Is there a way to add key mappings to iVim?  If so, what would be the correct way to map something like
`nnoremap <Ctrl-t> i<C-R>=strftime('%Y-%m-%d %H:%M:%S')<CR><Tab>` in iOS?  I use this "Windows-version o

[2017-12-25 02:47] terrychou commented on #37
I edited your message because github had eaten some characters of your command.

And I think what you are looking for is `nnoremap <C-t> i<C-r>=strftime('%Y-%m-%d %H:%M:%S')<CR><Tab>`

[2017-12-25 02:48] #37 closed

[2017-12-25 04:04] mchalkley commented on #37
Thank you. I’m not sure how I set this in iVim, though. Do I create a vimrc file in the iVim documents folder?

[2017-12-25 04:52] terrychou commented on #37
Yes, you can put it in your config file like `.vimrc` in the `Documents` (it is the default `HOME` in iVim) folder.

[2017-12-25 12:27] mchalkley commented on #37
Thank you again!

Mark

[2017-12-27 12:28] mchalkley opened #38 "Using shift-space in key mapping"
For many years, I have mapped ‘s-space’ to PageUp, but I can’t seem to get any combination of lower and upper case lettering to work in iVim.  I can get ‘space’ to map to PageDown just fine, though.  What’s the magic combination in iVim?

(And thanks again for helping me through some basics a few days ago - iVim is absolutely AWESOME on the iPad!)

[2017-12-28 09:00] terrychou commented on #38
I am sorry but I don't quite understand your problem here. What do you mean by "combination of lower and upper case lettering" and "the magic combination in iVim"? Examples would be appreciated.

[2017-12-28 11:34] mchalkley commented on #38
In Vim on Windows, I currently have ‘s-space’ mapped to ‘PageUp’, but this doesn’t seem to work in iVim.  I have tried ‘s-space’ and ‘S-space’, as well as ‘s-Space’ and ‘S-Space’, but none of those variants in capitalization work.  Mapping ‘space’ to ‘PageDown’ works, so it seems to be the use of the shift key in the mapping that’s the problem.

[2017-12-29 02:34] terrychou commented on #38
The fact that `Shift + Space` key combination does not work is because iVim does not handle it. (You can refer to ":help ios-external-keyboard" for related info.)

It is designed so on purpose because a combination of the `space` key with certain modifier key is usually reserved for iOS system use. For example, `command + space` is for invoking spotlight search; `ctrl + space` is for keyboard lang

[2017-12-29 13:50] mchalkley commented on #38
Thanks for the clarification.

[2017-12-29 13:50] #38 closed

[2018-01-02 01:47] drbarrett commented on #36
I modified tagbar to work under ivim, it might suit your purposes.
https://github.com/drbarrett/tagbar

[2018-01-03 10:23] sedm0784 commented on #35
I believe this is a bug in Google Drive.

I had to work around a similar issue with Google Drive in an app I develop by using a `public.data` UTI to allow the opening of *all* files instead of the more specific (correct) ones I was using prevoiusly.

[2018-01-03 12:56] monouser7dig commented on #35
that list has all sorts of type identifiers like `public.c-source` as well, which are in that [iVim plist](https://github.com/terrychou/iVim/blob/621922751afbe6534f77d6d2e3281595a04ced26/iVim/Info.plist#L258) but that is just guess work at best from my side

[2018-01-03 15:03] sedm0784 commented on #35
@monouser7dig The file types listed in `UTExportedTypeDeclarations` in the Info.plist aren't the ones used for declaring which types to enable in the Document picker. (Unless I'm misremembering how this works,) [this line](https://github.com/terrychou/iVim/blob/621922751afbe6534f77d6d2e3281595a04ced26/iVim/VimViewController%2BUIDocumentPickerDelegate.swift#L13) is the one where those types are spe

[2018-01-03 15:09] monouser7dig commented on #35
so maybe all the other .c-source and shell and so on would help if they were added?

[2018-01-03 15:18] sedm0784 commented on #35
No, they should all be covered by the single `public.data` UTI already specified. See the documentation for [conformance](https://developer.apple.com/library/content/documentation/FileManagement/Conceptual/understanding_utis/understand_utis_conc/understand_utis_conc.html#//apple_ref/doc/uid/TP40001319-CH202-BCGJGJGA) for the gory details.

My hunch (based on prior experience) is that Google Drive

[2018-01-03 16:07] monouser7dig commented on #35
yes I see, suspected something like this to be the case

solid access to source code files would certainly be a win (or vin) 😄

[2018-01-04 05:05] mrzzheng commented on #36
Thank you, definitely will give a try.

[2018-01-13 19:38] IRigoutsos opened #39 "vimrc and ctrl-A (to select all)"
Greetings.  Congratulations on porting to the iOS vim, which I consider the best Editor out there! 😄

I began using vimrc to set up my ivim and noticed what appears to be a problem.  Specifically, when I make ivim read the vimrc, I cannot use ctrl-A to select all the text in the file that is being edited. I use ctrl-A together with ctrl-C to copy text from ivim into other iOS apps.  However, if I

[2018-01-14 01:45] terrychou commented on #39
By default, what `ctrl-a` does is not to "select all the text" in vim. So I suspect that you are using a plugin to do that. It is hard to tell what is wrong without seeing you configurations.

If you are looking for a way to share text from iVim to other apps, seeing ":help ios-share" may help.

[2018-01-14 02:02] IRigoutsos commented on #39
Thank you for the speedy reply.

- if the “Arguments” line in Settings is empty then “ctrl-A” selects all the text
- on the other hand if the “Arguments” line is set to “-u vimrc” then “ctrl-A” does not work (it puts ivim into ‘input mode’).

My vimrc is really straightforward (see below) and this is why I am puzzled by this behavior.  BTW, I use Apple Smart Keyboard with the more recent ipad pro

[2018-01-14 02:05] IRigoutsos commented on #39
(one more perhaps relevant bit of information)

I just noticed that if I remove “-u vimrc” from Arguments, then open a file in ivim and run “:so vimrc” I get all of the settings of the vimrc file (see above) **and** ctrl-A does select all text now.  So it appears that something is done differently when “-u vimrc” is present.

[2018-01-14 04:59] terrychou commented on #39
If you just want to load the configurations in your file, try and rename it from `vimrc` to `.vimrc` instead of loading it from the `-u` option. In that case, iVim will load your `.vimrc` automatically. Using the `-u` option may put vim into 'compatible' mode, which might be the cause of the problem.

[2018-01-15 09:59] sedm0784 commented on #39
As an aside, if you want to copy all the text of a buffer into the clipboard, an alternative method that doesn't require any mappings is to use the command:

    :%y+

[2018-01-15 21:27] IRigoutsos commented on #39
Great -- my thanks to everyone for your helpful feedback!

[2018-01-15 21:27] #39 closed

[2018-01-17 15:23] radiowest opened #40 "Dropbox support"
One of the main issues I have with iVim is simply this:

I keep a bunch of text files in my Dropbox. I'd like to be able to edit those with iVim when I'm **offline** out for an assignment. Then, when I get back within wifi coverage, iVim would need to sync them.

This is a very simple and common workflow, but on iOS I find it excruciatingly difficult to implement.

Do you think iVim could possible

[2018-01-19 02:10] terrychou commented on #40
What about ":h open-in-ivim"? It edits the file in place and leave the sync job to Dropbox.

[2018-01-19 10:08] radiowest commented on #40
Thanks for the quick response Terry.

I have looked at :h open-in-vim but the caveat here is that this only works
while online.

My use-case is a bit uncommon. I would like to edit files in my Dropbox
using iVim while I'm out on repair missions in the bush, well beyond any
cell coverage.

I've tried :idocuments but can't access any files in Dropbox without an
internet connection even though I've m

[2018-01-19 12:44] terrychou commented on #40
Since Dropbox has been blocked here, I haven’t been using it. I didn’t know that you don’t have access to its local files when there is no connections.Then you can try the “import” option for the command :idocuments. With it, iVim will copy the file into its own file system. You can edit the copy when disconnected, then upload it to Dropbox when get connected again. You can’t lose the file in this

[2018-01-28 17:57] eigoninaritai-naokichi commented on #35
I can’t open .kt(kotlin source) in iCloud.
Do you have any sugesstions?

[2018-01-30 08:53] terrychou commented on #35
Yes, files behave weirdly in iCloud Drive.
This will be fixed in update.

[2018-02-01 03:11] eigoninaritai-naokichi commented on #35
Thanks for replying.
I am looking forward to be updated it.

[2018-03-08 19:42] jhofmeyr opened #43 "Set working directory using idoc?"
I’m using Working Copy, and can open files using idoc perfectly, but is it possible to set the working directory to a Working Copy repo base directory?  I often need to jump between numerous files, and while I haven’t tried installing any plugins yet (I use ctrl+p on my laptop), being able to browse to files using `:e` rather than through the idoc UI all the time would be a huge timesaver.

I am h

[2018-03-10 07:42] terrychou commented on #43
This "folder opening" feature is somehow like the new "packaged document editing". The difference is that the system doesn't treat the former as an editable item therefore you cannot open it. Maybe you can try and rename your target folder to a recognizable package extension (packaged documents are actually folders, except that they have specific extensions), to see whether that would work or not.

[2018-03-10 07:46] terrychou commented on #35
Is this problem solved in the latest update?

[2018-03-10 07:51] monouser7dig commented on #35
it's not fixed for google drive at least, but maybe that was expected

[2018-03-10 08:04] eigoninaritai-naokichi commented on #35
It’s fixes for iCloud drive at least.
Thanks for fixing!

[2018-03-12 03:23] terrychou commented on #43
The main problem here, is there seems no way to choose a folder in the document picker invoked by `:idoc`. (You tap a folder, it enters it instead of picking it.) I have tried "public.directory" or "public.folder" but neither works.

Does anyone know the solution to this?

[2018-03-17 08:40] holzschu commented on #43
Yes, I had it on for a while: you need to set `allowsMultipleSelection` to `true`.

[2018-03-19 00:46] BlueDrink9 opened #44 "External keyboard loses half its function when software keyboard is hidden"
I'm using a 3rd party software keyboard. When I hide it, only lower-case letter input from my external keyboard will be registered by iVim. `i`,`w` , etc and `esc` are fine. `Backspace`, `;`, `:` and `ABC` are not.
The default Apple keyboard is disabled.
App Store version 1.32, iOS 9.3.3.

[2018-03-19 02:26] terrychou commented on #43
Thanks, @holzschu , this is exactly what I needed.

But it seems a new addition to iOS 11, is there any way to have this function in iOS 9 or 10?

[2018-03-19 02:43] BlueDrink9 commented on #44
Sorry for the terse explanation.

When the software keyboard is shown, all buttons work as expected.

`caps lock` is mapped to `esc`. I can't remember if it worked but I think it didn't.

Disabled as in, in `General/keyboard`, only my 3rd party keyboard is enabled.

[2018-03-19 02:43] BlueDrink9 commented on #44
I haven't tried re-creating with the apple keyboard. I'll do that now

[2018-03-19 07:26] holzschu commented on #43
I have no ways to test it, but from what I understand from a quick internet search, it's possible that the functionality was present by default on iOS 9 and 10, and had to be explicitly enabled on iOS 11.

@palmin had folder selection working in WorkingCopyApp before iOS 11: https://www.youtube.com/watch?v=TA8atK2sdxc He may be able to give help here.

[2018-03-19 07:39] palmin commented on #43
For iOS 8 through iOS 10 the document picker handles UI for selecting documents and it is up to each specific implementation to support directories. I know of Working Copy and Git2Go that support picking directories.

The document picker is passed the UTI's that the app wants to pick files conforming to and Working Copy would allow picking directories if any of the types conformed to public.direct

[2018-03-19 19:57] BlueDrink9 commented on #44
The apple keyboard autohides, and can't be displayed while the keyboard is connected. However it works fine in this situation. When this keyboard is not in the available keyboards, the problem occurs. Some 3rd party keyboards will hide themselves, and the problem won't occur until the screen is held, at which point it reoccurs.
Seems like holding to hide keyboard, when an external one is connected

[2018-03-20 02:12] terrychou commented on #44
Because of the limitation of the APIs, the `caps lock` mapping is implemented in a very restricted way. Except for the default English keyboard, other keyboards are not well supported.

Your problem is probably caused by this. So you can disable the `caps lock` mapping to see whether it works or not.

[2018-03-20 02:25] BlueDrink9 commented on #44
Will do. It would be a shame if that were the problem, it's bloody brilliant having my pinky do what it expects to.

[2018-03-20 02:28] BlueDrink9 commented on #44
Also to clarify, `caps lock` does indeed send `esc` (mapped to `backspace` in vim). This is even with non-default keyboards.

[2018-03-20 02:35] terrychou commented on #44
Yes, but the most annoying part in the `caps lock` mapping implementation is that the uppercase letters need special handling. Which is the main reason why non-standard keyboards would not work.

[2018-03-20 02:47] BlueDrink9 commented on #44
Aah, true. That includes `backspace`, `;` and `:`?

[2018-03-20 03:12] terrychou commented on #43
Thanks @palmin

So in iOS before 11, what I could do is to add "public.directory" into the document types of the document picker. The rest depends on the other apps to implement file provider to support it.

[2018-03-20 03:45] terrychou commented on #44
You can check out the implementation of the external keyboard in file https://github.com/terrychou/iVim/blob/master/iVim/VimViewController%2BExternalKeyboard.swift

[2018-03-20 07:59] jhofmeyr commented on #43
I'm struggling to follow the conversation a bit ... does this mean that setting the folder as the working directory for iVim is dependent on Working Copy changing something in their setup to allow idoc to open the folder?  I'm on iOS 11.2.6

[2018-03-21 02:19] terrychou commented on #43
No, we have been talking about how to enable `:idoc` to open folders, which is the first step to make the "setting working directory" possible. Some more code needs to be added for it to work properly.

[2018-03-25 19:18] vvuk opened #45 "support Working Copy integration"
Working Copy is a (fantastic) git client for iOS.  The combination of solid git + iVim would make for a great local development environment.

Working Copy supports two approaches:
- WebDAV support.  It can spin up a WebDAV server for a repository;
- or URL-based x-callback-url commands: https://workingcopyapp.com/url-schemes.html

The latter is more powerful (and supports a full suite of git comma

[2018-03-27 01:59] terrychou commented on #45
The branch https://github.com/terrychou/iVim/tree/openurl adds x-callback-url support into iVim. While it is still under testing, you can check it out and run it via Xcode. Type ":h ios-open-url" to see the details.

Any suggestions are welcome.

[2018-03-28 07:27] terrychou commented on #43
I have added related code into the branch: https://github.com/terrychou/iVim/tree/openurl
You can have a look at it by installing it via Xcode.

It now supports opening a folder, and within it, you can add files or subfolders, editing or deleting files, renaming files or folders. (I add the filesystem support as much as I can)

Please test it and any suggestions are welcome.

[2018-03-28 07:29] terrychou commented on #20
The folder opening feature has been added and under testing. Please see: https://github.com/terrychou/iVim/issues/43#issuecomment-376788694

[2018-03-28 07:42] jhofmeyr commented on #43
Thanks, I'll take a look this weekend

[2018-03-28 07:59] ckanthony commented on #20
Omg this is game changer!

Anthony

On 28 Mar 2018, 3:29 PM +0800, Terry Chou <notifications@github.com>, wrote:

[2018-03-28 11:05] holzschu commented on #43
Hi @terrychou,
I had to add `picker.allowsMultipleSelection = true` in VimViewController+UIDocumentPickerDelegate.swift
Other than that, it seems to be working.

It would be good if it could set the working directory to the folder I just opened, so ":w" writes in that folder.

[2018-03-29 02:11] terrychou commented on #43
Thanks for feedback, @holzschu .

Since all the filesystem events in this part are triggered through vim, only operations in the vim way (e.g. vim functions, vim commands, etc.) would work.

If you want to make this work for the shell part, you need to make the all sync code response to the events triggered by the shell commands. Check out file gui_ios.m for functions such as mch_ios_post_file_rem

[2018-03-29 20:23] alinmechenici opened #46 "not saving files on exit"
I use the appstore version of iVim and most of the time the files are not saved on exit using: ":q!".

I tried with the virtual keyboard and also with an external keyboard. Same problem!

[2018-03-30 01:51] terrychou commented on #46
Since ":q!" means "force quit", it is the default behavior of this command.

[2018-03-30 01:52] #44 closed

[2018-03-30 08:55] alinmechenici commented on #46
Sorry! My fault! I will close this issue.

[2018-03-30 08:55] #46 closed

[2018-04-03 07:49] terrychou commented on #43
made the filesystem operations much safer and updated the code.

Please test it. (testing it in the iPad split view mode would be great). This code still doesn't guarantee bug-free, therefore please make backups before testing.

[2018-04-08 03:43] terrychou commented on #43
updated the related code more and made it even more safer.

Are you having any problems so far?

This version will be put onto App Store if no obvious problems are found.

[2018-04-11 01:51] terrychou commented on #43
This has been released in version 1.36

[2018-04-16 16:32] pyager opened #47 "Add support for VimWiki"
Please add support for VimWiki.

[2018-04-17 11:58] sedm0784 commented on #47
What do you mean? Have you tried it? Are there problems? Or is it just that you don't know how to install a plugin in iVim?

[2018-04-18 01:50] terrychou commented on #47
Hi, @pyager , if you are talking about a vim plugin, you can try to install it and report some problems you might encounter.

Normally, iVim supports plugins that don't require external shell commands, and its default $HOME (what the "~" stands for) is the "Documents" directory.

[2018-04-19 02:04] terrychou commented on #47
Usually, you can find the installation instructions on the plugin's project site.

When it comes to iVim, the main issue would be the filesystem operations (e.g. copying the necessary files to the specific locations).

a. to copy files to iVim, I would use the Files.app (:h ios-file-system).

b. one problem with the Files.app is that items beginning with dots are hidden in it. In this case, you ca

[2018-04-25 09:45] bobpepin opened #48 "Feature Request: Autocomplete in extended keyboard"
Hi,
it would make programming on the iPad without a keyboard much faster if the top n autocomplete options  could be displayed and selectable in the line above the keyboard, where the extended keyboard buttons are right now. Similar to what one gets for natural language for example when writing text messages. Also, with iOS 11 most special characters are directly accessible from the on-screen keyb

[2018-04-26 07:05] terrychou commented on #48
Since the autocompletion in vim goes in its own way: providing popup menu for the candidates, this seems not so necessary.

[2018-04-26 07:05] #20 closed

[2018-04-30 22:15] BlueDrink9 commented on #44
Sorry, just got back into using this. Can confirm that switching back to no caps mapping doesn't solve the problem.

[2018-05-02 03:07] mtwebb opened #50 "Possible to add colorschemes?"
Is it possible to add custom colorschemes to iVim?

[2018-05-02 03:08] mtwebb commented on #50
I tried adding one to the HOME directory and inside a colors subdirectory, but no luck so far.

[2018-05-02 03:26] mtwebb commented on #50
Ahh, got it.  I needed to create the .vim subdir in the iVim HOME dir.  The native Files app does not allow files/dirs that start with period, but the very useful openterm app has not such restrictions and worked like a charm.

[2018-05-02 03:26] #50 closed

[2018-05-05 16:39] mtwebb opened #51 "Suggest Extended Keyboard default to hidden when hardware keyboard is attached."
Extended Keyboard is great paired with the software keyboard, but I find I rarely use it when I have hardware keyboard attached (especially since caps lock can be remapped). I usually end up starting every session with the long press to dismiss the extended keyboard.

What do you think about defaulting the keyboard extension to off when an external keyboard is attached?

[2018-05-06 04:56] terrychou commented on #51
Actually, I thought about this function when I was implementing the external keyboard part. But I haven't been able to figure out how to detect the events when a hardware keyboard is connected to the device. (Anyone who has the solution please be generous to share?)

As an alternative, I will add a settings option to iVim that will hide the extended keyboard by default.

[2018-05-06 16:16] mtwebb commented on #51
This thread discusses some options: https://stackoverflow.com/questions/31991873/how-to-reliably-detect-if-an-external-keyboard-is-connected-on-ios-9
It’s iOS 9, but comments have some updates for iOS 11.

That said, a toggle in the settings app sounds good too.

[2018-05-07 05:12] MarkVillacampa commented on #45
Since you can already open a Working Copy directory in iVim, what would this funcionality add?

[2018-05-07 05:14] MarkVillacampa opened #52 "Create bookmark for directories opened in-place"
When opening a directory via the document picker, iVim could create an alias file in disk using the following method:

https://developer.apple.com/documentation/foundation/nsurl/1408532-writebookmarkdata

This way, iVim could navigate to a previously opened directory without having to go through the document picker again.

[2018-05-08 02:29] terrychou commented on #52
Do you mean keep the bookmark between different iVim sessions? Because there is actually bookmark data for each open-in-place item within one session.

Since there may be editings done by other apps between two iVim sessions, it would be better to pick the items again.

[2018-05-08 15:28] MarkVillacampa commented on #52
Yes that's what I mean. Textastic does this with any externally picked directories, keeping a bookmark in the sidebar between launches.

You're right other apps could modify the files in between sessions, but other apps could *also* modify the files whiles iVim is opened.

I think this feature wold be very useful for many people who always work on the same projects and dont want to pick the direct

[2018-05-27 01:59] terrychou commented on #52
Added solution for this in version 1.38 (:h ivim-old-documents)

[2018-05-27 01:59] #52 closed

[2018-05-27 02:00] terrychou commented on #51
Added in version 1.38 (:h ios-settings)

[2018-05-27 02:00] #51 closed

[2018-05-27 02:02] terrychou commented on #24
Added the extended keyboard customization feature in version 1.38 (:h :isetekbd). Now you can make your own buttons or keys.

[2018-05-28 16:28] MarkVillacampa commented on #52
Awesome! Thank you!

[2018-05-29 03:17] #43 closed

[2018-05-29 03:18] #48 closed

[2018-05-29 04:50] mtwebb commented on #51
Cheers Terry.  Works like a charm.

[2018-06-16 02:40] steakknife commented on #3
With a BT Magic Keyboard paired to an iOS device.. all the keys, except function keys (which may or may not be possible to grab events of), work OOTB. :+1:

[2018-06-23 20:22] mikesale commented on #45
I use Working Copy with iVIm daily, the "Open in" sharesheet is great! Would prefer to see upgrade of vim itself

[2018-07-02 13:58] minopret commented on #47
It may be less tedious to install plugins in iVim if you use a Vimball.

I was glad to avoid moving each individual file into place. I was glad to avoid temporarily giving the ".vim" directory a name with a different first character, just so the Files app would list it.

On any machine with enough tools and filesystem access, you can package the plugin files as a Vimball. Details are in `:h vimbal

[2018-07-02 22:42] mikesale opened #53 "User Font not supporting Ligatures"
When I installed Fira Code ttf and otf fonts ligatures are not displaying when the font is selected via .vimrc nor via :ifont selection.

[2018-07-04 00:32] danyadsmith opened #54 "User Fonts Install Properly but Can’t Be Selected"
I have attempted to install and use the following fonts in iVim:

* [Camino Code](https://www.myfonts.com/fonts/jan-fromm/camingo-code/)
* [Pragmata Pro Mono](https://www.fsd.it/shop/fonts/pragmatapro/)
* [Pitch](https://klim.co.nz/retail-fonts/pitch/)

The first one (Camino Code) works as expected. The other two (I have tried the versions with and without ligatures) install properly and are liste

[2018-07-04 04:06] terrychou commented on #53
The "ligature" feature introduced on Fira Code needs special handling. Right now it is not supported in iVim. I will give it a look.

[2018-07-04 04:50] terrychou commented on #54
I have tried all the three fonts: Camingo Code (Regular, ttf), Pragmata Pro (Regular, ttf) and Pitch (Regular, otf, test version from the official site). And they all seem working fine here.

What do you mean by "nothing happens"? What does `:ifont` list look like after your attempt to switch to a font with failure? Where is the `*` indicator after the failure? Was it indicating the failed font?

[2018-07-04 15:11] tthkbw opened #55 "Autocorrect"
iVim does not appear to support iOS autocorrect functionality. Or, if it does, there is a setting I haven't found. I can certainly understand not wanting autocorrect on when writing code, but I use iVim for writing prose of varying kinds (and I suspect many on iOS do, or would) and it is very useful for a careless touch typist like me. I have come to rely on it both on iOS and on my desktop iMac.

[2018-07-05 03:40] terrychou commented on #55
As the spell checking, vim goes in its own way (:h spell). Although by default it won't correct your typos automatically, you could utilize some key mapping or a plugin (e.g. @sedm0784 's https://github.com/sedm0784/vim-you-autocorrect though I didn't test it myself) to do so.

Glad to know that you like iVim. Most of the features could't exist without the suggestion from users like you.

As to th

[2018-07-05 14:11] tthkbw commented on #55
I will try your autocorrect suggestion, although in looking, I think it will be quite different and difficult to get used to.

With respect to mapping caps-lock: How does one accomplish this?

I thought I was pretty good with vim, but I can't figure it out and the doc only says the mapping can be done, not how to do it--at least that I could find. I tried escaping with ctrl-V and with '\' and usin

[2018-07-06 14:44] tthkbw commented on #55
RTFM a bit more carefully. I am way to vim oriented. Settings means the :set command and map means :map command 😄 I read this section of the manual many times looking for insight. But I didn't reread the first sentence which said "In the system's Settings app." My bad, thanks for the clarification. It is great to have repeating cursor control keys.

Another question. In the external keyboard secti

[2018-07-07 01:20] danyadsmith commented on #54
@terrychou What I mean by “nothing happens” is that the asterisk that identifies the selected font does not change, the font on screen does not change, and no error message is displayed. To make the situation a little clearer, I have created [a video that walks through the issue](https://drive.google.com/open?id=1oKDGGjjOhHogBknC_tAThJ4HDyfI6txn). I hope it helps to illustrate the problem. It is s

[2018-07-07 08:19] terrychou commented on #54
Could you share the fonts with problem? Because it looks wrong in your video but I don't see that with the ones I have, I need to test them on my device to see whether it is the problem with the fonts or not.

[2018-07-07 08:40] terrychou commented on #55
The "section d" question:

The "respectively are supported" there means that iVim can catch those key pressing events and translate them in vim way. For example, when you press `cmmand + ->`, iVim will translate it to `<D-Right>`, the rest is left to vim to handle it. The reason they are emphasized there is because you cannot get all key pressing events from an external keyboard, `<C-CR>` is an ex

[2018-07-07 13:58] mikesale commented on #53
Thank you! If there's anything I can do to help with research, testing, etc. I am happy to help.

[2018-07-08 15:53] danyadsmith commented on #54
I would be violating the license agreement by sharing them. I will try to reproduce the issue with some open source fonts this week and get back with you.

[2018-07-09 02:50] terrychou commented on #54
By "share", I meant that maybe you could "provide" the fonts in question for the testing purpose only. I never mean to have or use them myself. To avoid this technical problem becoming a legal one, I think I should stop here. Thanks for your feedback.

[2018-07-09 02:52] #54 closed

[2018-07-25 18:48] ctgreybeard opened #56 ":help ios hangs, requires killing ivim"
I've just installed Blink and, at their suggestion, iVim. My first action was to use :help ios to read the docs ...

but scrolling down past the very first screen hangs iVim immediately requiring a force quit to recover.

I'm on an iPad, ios 12.0 beta. It does not seem to happen on my iPhone X running 11.4.1

[2018-07-25 20:18] ctgreybeard commented on #56
It also fails under the simulator under ios 12 ... looking deeper now ... might take me a while ...

[2018-07-26 02:19] terrychou commented on #53
It is not compatible with the character rendering in iVim right now. So I have to put it on the todo list with lower priority. It will be added when the timing is right.

[2018-07-26 04:59] ctgreybeard commented on #56
I've been digging into it a bit but I haven't sussed anything out yet. It may be a problem with scrolling.

[2018-08-12 17:09] lifepillar opened #57 "Wrong color for `fg` in colorscheme loaded at startup"
Minimal example to reproduce:

[code]

Save this in `~/.vim/colors/test.vim` and add `colorscheme test` to your `vimrc`. You should see that, after starting iVim, the foreground color of the status line is dark instead of white. If you reload the colorscheme the status line gets the right foreground color (white).

I could not reproduce this in other versions of Vim (MacVim, terminal Vim in iTerm2

[2018-08-14 16:38] tranchis commented on #56
It happens in many situations, not only with `:help ios`. Also for example entering new lines until it forces the editor to scroll down one line, or even with a command such as `:!blah` (which I guess is trying to show the error message which should occupy several lines).

I've tried to debug it and it always hangs at the following line: https://github.com/terrychou/iVim/blob/master/iVim/VimViewCo

[2018-09-01 00:03] mtwebb commented on #56
I am also seeing this in multiple places on iOS 12 public beta 9. After typing ‘:e .’  the app hangs with the error:
Press ENTER  or type an command to continue

Scrolling until the app is killed.

[2018-09-08 04:48] terrychou commented on #56
The problem lies in the copyRect function: https://github.com/terrychou/iVim/blob/e9d0f5337171785f735164591c8214df4633dc90/iVim/VimView.swift#L70

Whenever a scroll action is required, it will call this function to move the "old" lines to their new locations. This is done by drawing the CGLayer into its own context. However, according to the documentation, its behavior is "undefined". Therefore, i

[2018-09-18 13:19] terrychou commented on #56
After rewriting the backing drawing part, this problem seems solved.

Would you guys give it a test if I push up the latest code?

[2018-09-18 15:20] ctgreybeard commented on #56
I would be happy to test for you. I can build and install or maybe you
could open it up on TestFlight?

Bill Waggoner

On Tue, Sep 18, 2018 at 9:19 AM Terry Chou <notifications@github.com> wrote:

--
Sent from my iPad

[2018-09-19 01:56] terrychou commented on #56
I have pushed the code to branch: https://github.com/terrychou/iVim/tree/copyrectfix

It would be better to test it from the code. If possible, please also test it in the simulators of the new coming iPhone models (iPhone XR, XS, XS Max, especially XS Max, it freezes the screen of my Mac every time I try to launch it:()

Thanks!

[2018-09-23 13:56] idvorkin opened #58 "General stability"
I love the idea of iVim, but it’s pretty unstable for me on iPad with iOS 12. It’s frequently crashing and freezing.

Is this happening for others? And if not, how can I help debug?

[2018-09-23 13:57] idvorkin opened #59 "How to access settings?"
*Apologies if this is obvious, I could not find it on the README, or in :help ios*

How do I access the settings for iVim? Is there a UX? Is there a list of the settings and how to use them?

[2018-09-24 06:47] terrychou commented on #58
The unstableness in iOS 12 is mainly caused by a drawing bug as discussed in issue #56 .

It is solved but still under testing, therefore not uploaded to the App Store yet.
If you can compile and install it via Xcode, you can check out the branch https://github.com/terrychou/iVim/tree/copyrectfix and help test it (that would be great:)).

[2018-09-24 06:50] terrychou commented on #59
iVim specific settings are put in the system Settings.app, search for "iVim" to reach it. Type `:h ios-settings` to see their explanations.

[2018-09-24 06:56] terrychou commented on #56
Have you guys tested the fix? Does it solve the related problems? Are there any further problems appearing?

If there is no obvious problem, I would update it to the App Store, since the iOS 12 has already been released.

[2018-09-24 11:06] ctgreybeard commented on #56
I’m sorry, Terry. I promised to test but my wife has been in the hospital
and I haven’t had a chance.

Bill W

On Mon, Sep 24, 2018 at 2:56 AM Terry Chou <notifications@github.com> wrote:

--
Sent from my iPad

[2018-09-24 12:44] terrychou commented on #56
@ctgreybeard No problem, Bill. Thank you all the same. May things get better soon.

[2018-09-26 15:59] lifepillar opened #60 "Compatibility with iOS 12"
I am experiencing issues with iVim under iOS 12 (the app hangs after a few keystrokes). Any chance to release an update any time soon?

[2018-09-26 23:31] terrychou commented on #60
Which version are you talking about? The latest version 1.40 is supposed to solve related problems.

[2018-09-27 05:18] lifepillar commented on #60
You are right! I was pretty sure I was using the latest version, but today I’ve found an update and now it works.

[2018-09-27 05:37] terrychou commented on #60
You can check iVim's version via `:intro` or `:version` at any time.

[2018-09-27 05:37] #60 closed

[2018-09-27 11:48] lifepillar commented on #60
Sure, but in the broken version the app would hang after typing `:vers<enter>`.

[2018-09-27 15:02] idvorkin commented on #59
I don’t follow. Can the settings be changed on device?
Are they build time?

On Sun, Sep 23, 2018 at 11:50 PM Terry Chou <notifications@github.com>
wrote:

[2018-09-28 03:02] terrychou commented on #59
What do you mean by "settings"? It seems that we don't agree on its meaning.

[2018-09-29 02:05] terrychou commented on #56
Fixed and updated in version 1.40

[2018-09-29 02:05] #56 closed

[2018-09-29 04:39] mtwebb commented on #56
Thanks for the fix

[2018-09-29 08:15] terrychou commented on #56
You are welcome

[2018-09-30 20:17] idvorkin commented on #59
I'd expect ios specific settings would be something settable  via ```:set ``` or via some menu.

[2018-10-05 21:00] mtwebb commented on #58
To follow up on this, the latest published version with the above fix works great.  This issue can be closed.

[2018-10-06 06:33] #58 closed

[2018-10-06 06:39] terrychou commented on #59
Some settings cannot be put inside iVim. One example is the launch option for iVim, it needs to be set even before iVim starts.

The principle is that setting options will be added only when unavoidable. And their default behaviors would meet most use cases.

[2018-10-17 16:58] mikesale commented on #53
Any update on this working soon?

[2018-11-10 17:03] alexshepard opened #61 "start vimtutor?"
Sorry if this is a stupid question, but I'm trying to get better at vim by running through vimtutor once a day for a week or two. Is there any way to launch `vimtutor` from within iVim?

[2018-11-13 20:01] alexshepard commented on #61
thanks @terrychou

[2018-11-13 20:01] #61 closed

[2018-11-24 11:04] barmatal opened #62 "Bold and italics support"
I’m not sure if this is a bug but I can’t find a way to make it work so maybe someone here can help me.

I copied my vimrc and plugin files and almost everything worked out of the box (this port is AMAZING!) except that the plugin I use for Markdown formatting do not display bold and italic format. I’ve tried installing fonts with regular, bold and italics versions but it doesn’t work (I can selec

[2018-12-06 02:46] terrychou commented on #62
Unfortunately, bold or italic drawing is not supported in iVim currently. However, I don't quite understand the last part you are talking about. Do you mean that it will draw bold or italic font when you apply them all? Can you try and remove all the installed bold or italic versions to see that still work?

[2018-12-06 19:08] barmatal commented on #62
Sorry, that was confusing. I meant that I installed “Source Code Pro - Italic” and “Source Code Pro - Bold” from [this link](https://www.fontsquirrel.com/fonts/source-code-pro) to test if iVim would catch them and use them in formatted text automatically, but it didn’t work. What happened is that those two fonts appear in the ifont command, so if you run `:ifont SourceCodePro-Italic` all text disp

[2018-12-07 00:35] vincent-dm opened #63 "How to remap <CapsLock> to <Esc>?"
The readme [mentions](https://github.com/terrychou/iVim#external-hardware-keyboard) that the `<CapsLock>` key of a hardware keyboard can be remapped to the `<Esc>` key, but I can't find any instructions about _how_ to do it in iVim.

In my case, I am using an iPad Pro with Apple's Smart Keyboard Folio, which lacks a physical `<Esc>` key. Googling around only returns a lot of irrelevant guides abou

[2018-12-07 15:29] vincent-dm commented on #63
Great, thanks!

[2018-12-07 15:29] #63 closed

[2018-12-13 09:33] sedm0784 commented on #59
Just to make it 100% clear, it is possible to change the ios-specific settings on device:

From your home screen, tap on the Settings App:

![photo 13-12-2018 9 12 59 am](https://user-images.githubusercontent.com/139165/49929245-f81f3600-feb9-11e8-8334-59c095c3bf5a.jpg)

Then you can either scroll up to fix the search field, or simply scroll down till you find iVim in the list:

![photo 13-12-2018

[2018-12-17 23:50] idvorkin commented on #59
Perfect = thanks!

[2018-12-17 23:50] #59 closed

[2018-12-26 07:06] idvorkin commented on #45
@mikesale When you open in iVIM how do you get the changes back to working copy?

[2019-02-03 18:01] idvorkin commented on #51
This no longer seems to work. With my external keyboard when I open iVim the software keyboard still pops up.   It also pop up, when I re-focus into iVim. How can I help debug the issue?

[2019-02-03 18:06] idvorkin opened #64 "Caps to Control remap not working with external keyboard"
Caps to control mapping is set in settings, but caps is not being remapped. Once i saw a message saying something like “Caps mapping is disabled”, but I didn’t think to write it down, and haven’t seen it since (Possibly since the soft keyboard is also comesing up (possibly related)?)

How can I help debug?

[2019-02-26 10:56] sedm0784 commented on #51
@idvorkin Not sure if you may have misread the above: this issue only concerns the extra row that iVim adds to the software keyboard rather than the entire keyboard, and the fix was to add an option to the settings to hide the addition by default.

Unless I'm misunderstanding it, I think your comment is about a different issue?

[2019-03-02 04:01] idvorkin commented on #51
@sedm0784 - right you are thanks! Original comment erased.

[2019-03-11 00:45] clarkezone commented on #3
wondering.. is it possible to implement autorepeat when on an external keyboard?  Particularly for cursor keys

[2019-03-23 16:05] bilal-khan commented on #45
@idvorkin add working copy as a file manager in the Files app and then open in place using `:idocuments` in ivim

[2019-03-23 16:39] bilal-khan opened #65 "Why is autosave not possible?"
I see the comments in the Readme on autosave but am curious as to what the decision is behind that. The expectation on all iOS apps is that upon returning the app will be in the exact state in which it was left.

If not autosave, perhaps a mechanism to cache and restore?

[2019-03-26 04:38] terrychou commented on #65
It is totally possible.

The reason why autosave was not implemented was that no proper timing to do it was found.

The only seemingly proper timing would be when iVim enters background. But that is NOT a sure sign that iVim will be destroyed, therefore autosave would be redundant EVERY TIME it enters background.

[2019-04-08 16:32] AmaruCoder opened #66 "Not available on the AppStore"
First, thank you for porting Vim to the iPad. I tried to install it, but I get the message “This app is not available in your region.”

[2019-04-09 01:20] imaxhung commented on #66
+1
I reset my ipad pro, then missing iVim.
Can you release a unsigned ipa file？

[2019-04-10 05:50] terrychou commented on #66
This happened because the Apple Developer account expired.

It should be OK now.

[2019-04-10 08:09] imaxhung commented on #66
Now, available in China app store.

[2019-04-15 02:39] #66 closed

[2019-04-15 16:13] AmaruCoder commented on #66
Thank you very much!

[2019-04-27 18:45] mtwebb commented on #65
Oh man,I would love if vim would cache and restore the state (the match behavior assumptions for iOS apps).    A save every time it enters background, while not ideal, seems preferable to losing data.

[2019-04-30 04:58] terrychou commented on #65
OK, I admit that I have been working on this feature.

[2019-05-12 22:36] mtwebb commented on #65
Fantastic news Terry. So happy to hear it.  Happy to beta test the feature if needed. Auto save will go a long way towards making ivim feel like a full ios citizen.

[2019-05-16 00:13] terrychou commented on #65
It is added and updated in version 1.51, as an In-App Purchase item.

[2019-05-16 05:20] RunningUtes commented on #50
I am using iVim and can’t seem to get fonts, plugins, or colorschemes installed. It sounds like you were able to get it working on your system. Could you outline the steps you took?

[2019-05-16 15:56] mtwebb commented on #65
fastest app store purchase yet. Thanks Terry for your continued work on vim on ios.

[2019-05-17 02:37] terrychou commented on #65
No problem. Thank you for supporting. If you have any problem or suggestion, let me know.

[2019-05-19 23:30] mtwebb commented on #65
I did hit a snag where a file shared over icloud ended up empty. Digging around to see what happened. Aside from that it has been fantastic.

[2019-05-20 01:48] terrychou commented on #50
The key to installing plugins, colorschemes or other configurations, is to know the differences of filesystems of iVim. See ":help ios-file-system".

Fonts are handled in its own way under iVim. See ":help ios-font-management".

[2019-05-20 01:50] #64 closed

[2019-05-25 02:43] terrychou commented on #65
@mtwebb Have you figured out what the cause was? Can you reproduce it?

I have tested some files from iCloud, but this situation didn't happen to me.

[2019-05-26 16:04] idvorkin commented on #64
Has this been fixed? I'm still having the same issue as of 5/24/2019

[2019-05-26 16:13] kkk669 commented on #64
@idvorkin I have no issues with the default software keyboards, but when using the third-party keyboard like GBoard, caps to control mapping doesn't work as you said.

[2019-05-26 17:02] idvorkin commented on #64
That makes sense. So should this be left open? I know the blink shell supports this correctly.

[2019-05-26 17:04] idvorkin commented on #64
Something like: https://github.com/blinksh/blink/blob/242dbec6de46b255baa5eef9b867435bcb5a1693/Blink/TermInput.m#L440

[2019-05-27 02:49] terrychou commented on #64
As explained in ":h ios-external-keyboard", the caps lock mapping function only works properly when the keyboard language is set to the default English one. Otherwise it will be disabled by default.

The "[caps lock] mapping DISABLED" message you mentioned was exact a sign saying that iVim may detect your keyboard setting did not meet the requirement. So it disabled the mapping.

This implementati

[2019-05-27 03:21] idvorkin commented on #64
*(ps - I'm not trying to be annoying, I just love iVim, and getting Caps-> Control is the missing piece)*

     Note that due to the API limitation, only English keyboards are supported and
     will be disabled otherwise; after mapped, the default alt extended symbol
     input will be ignored; for an alternative to extended symbol input, you may
     refer to digraph; however, the alt mapping me

[2019-05-27 04:53] terrychou commented on #64
The "keyboard" mentioned here is the one you choose in the iOS system settings (usually at General > Keyboards, I think). It needs to be a "English" one (you can add multiple keyboards there) for the mapping to work due to the implementation. In another word, if you set yours to another language or a third-party one in iVim, iVim will detect that and disable the mapping automatically (because the

[2019-05-30 00:22] mtwebb commented on #65
Some details. Thanks for following up.  I have a simple text log in iCloud Documents that I leave open in iVim on ipad and iphone.  It seems that after a period of time the temp file expires and vim loads an empty file.  I was unable to save that empty file.   Somehow I ended up blowing away my log file last time, but I have not been able to recreate that state.

![IMG_1838](https://user-images.gi

[2019-05-30 01:45] terrychou commented on #65
According to the screenshots, buffer 3 is a leftover cache before the "auto restore" was added (you can tell that from its path part ".../tmp/Openbox/E5C5...43C1/...", in the updated implementation, it should be hardcoded as ".../tmp/Openbox/com.terrychou.ivim.mirrormark/...", as in buffer 4). That is why iVim cannot find it. (you don't have to worry about this implementation details, since it is

[2019-05-30 05:17] mtwebb commented on #65
Done and done. Will report back if I hit any issues. This feature is so great; I finally feel I have vim on my ipad as an app and not a proof of concept.

[2019-06-02 23:18] qqquwu opened #67 "[Bug] Open-in via share sheet doesn’t open the document in iVim"
Hi — just purchased via IAP for the restore feature. Very nice app, glad to support.

I was able to open a few documents via share-sheet Open-in-IVim, but now it doesn’t work after I messed around in iVim with opening some local files , etc.  I’m not sure what broke — but it seems like a bug. Any file that I open-in-iVim (ie, from Working Copy) doesn’t do anything in iVim.

[2019-06-02 23:32] qqquwu commented on #67
I think it may be because I loaded my .vimrc but none of the directories referenced (such as swap or backup) and plugins exist in the $HOME/.vim/ folder.  After loading my own .vimrc, I think the open-in-iVim broke.

[2019-06-03 11:01] terrychou commented on #67
Would iVim open an empty tab for you, or just nothing happened?

Does this happen when iVim in background (i.e. it did not terminate but just enter background)?

[2019-06-12 19:07] ericweir opened #68 "Copying .vim folder to iVim"
I'm having a difficult time copying my .vim file to ivim. I've put a copy of my .vim folder in Dropbox. I rename the .vim folder in ivim to vim. Navigating to Dropbox in the Files app I select the folders in want to copy, navigate to the vim folder in ivim, and copy them there. then I rename the vim file in ivim to .vim.

I should say that's what I'm trying to do. One folder seems to hang up in th

[2019-06-12 19:26] ericweir commented on #68
I've seen Working Copy mentioned here. Vundle requires git. I don't have git installed. Could that be the problem? Will Working Copy solve it?

[2019-06-13 02:34] terrychou commented on #68
No, currently, iVim doesn't have git or related-function integrated, therefore you need to use a third party app, like Working Copy to do related work for you.

Moreover, iVim doesn't support running external commands either. As a result, any plugin which utilizes any external command would not work properly.

[2019-06-13 11:29] ericweir commented on #68
Thanks, Terry. As mentioned in my original post, I'm coming back to vim from a few year's absence. My intuitions and skills are rusty. In addition, I'm a writer not a coder/programmer/hacker.

So, (1) should the method I describe in my original post for getting my .vim folder into iVim work? Do you have any idea why it seems to not be work for me? In particular, why everything except what's in the

[2019-06-13 13:10] ericweir commented on #68
I see that vundle is a vim script. Does that mean it uses no external commands?

[2019-06-14 03:14] terrychou commented on #68
1) the folder copying method you described above sounds OK to me. Since I don't even know what plugins you are trying to install, I have no idea why your way didn't work.

2) "external commands" are commands that are not part of vim itself. Examples include shell commands and other useful third party tools like git. Unlike other platforms on which a shell is available by default, iOS doesn't provi

[2019-06-14 11:11] ericweir commented on #68
Thanks, Terry. Much as I expected. But very helpful.

I had started thinking about manually installing plugins. I'll read up on it.

I did not use vundle that often. Just found it very convenient when I did. I have only a few plugins, and only three are critical to my day-to-day use: task paper, vim-sessions, and vimwiki. I hope when I eliminate all but these from my bundle folder I will simply be

[2019-06-14 20:29] ericweir commented on #68
I pared my vim plugins down to the four that are most critical for me. I put them in a "bundle" folder in the .vim folder. I added the following to my .vimrc:

“ http://www.vim.org/scripts/script.php?script_id=2027
“ https://github.com/xolox/vim-misc
“ https://github.com/xolox/vim-session
“ https://github.com/vimwiki/vimwiki

set runtimepath^=~/.vim/bundle/taskpaper.vim/taskpaper.vim
set runtimepa

[2019-06-14 20:31] ericweir commented on #68
I noticed a request here to upgrade ivim to vim 8. An advantage would be that the built-in plugin manager could be used.

[2019-06-15 16:05] ericweir commented on #68
Assuming my installation of plugins is correct--they show up in my runtime path--I'm finding I apparently don't know how to generate help files for them. The following is an example of the command I've used:

:helptags ~/.vim/bundle/taskpaper.vim/doc

But when I do ":help task paper" I keep getting ":149: Sorry, no help for taskpaper."

What am I missing/doing wrong?

Thanks.

[2019-06-16 01:45] terrychou commented on #68
It may be a problem of the searching path of the help tags.

Here is one paragraph from help on help:

will be opened.  Otherwise the specified tag is searched for in all "doc/tags"
files in the directories specified in the 'runtimepath' option.

[2019-06-20 15:51] ericweir commented on #68
Thanks, Terry. Apologies for the late response. I've been distracted.

Specification of the runtimepath was indeed the problem, e.g., /.vim/bundle/vimwiki/vimwiki.vim should have been /.vim/bundle/vimwiki

Now onto defamiliarizing myself with my plugins/

[2019-06-21 03:30] terrychou commented on #67
This problem should be fixed in version 1.52, so close it for now.

[2019-06-21 03:30] #67 closed

[2019-06-22 17:32] mon10a opened #69 "Feature Request: show “bookmarked” directories from other apps in netrw (iOS 13)"
I understand that iOS 13 will allow an app to bookmark an entire folder from another app, effectively granting permission to read and edit all the files in that folder. I have heard that iA Writer, Working Copy, and Scriptable already have this ability under iOS 12.

Would it be possible to add this to iVim and have the folder/directory appear in netrw?

Benefits:

1) if you choose a folder from a

[2019-06-24 18:54] qqquwu opened #70 "[Problem/Bug] Taking over .zip extensions in native Files app"
When click on a .zip file in native Files app, when I uninstall iVim, the .zip file opens in an app that is able to extract it (Readdle Documents, for example).  However, with iVim installed, .zip opens in iVim.

How to unassociate iVim with .zip files?

Thanks

[2019-06-24 19:19] ericweir commented on #69
Glad to hear about this. It seems the minimum if, as Apple apparently hopes, the iPad is to become a useable work computer. Hope Terry's answer is in the affirmative.

[2019-06-25 07:35] terrychou commented on #69
Is this issue #43 we are talking about here?

[2019-06-25 07:45] terrychou commented on #70
The Files app seems to set the default opener app for a file type according to the installation order: the latest installed wins.

Since iVim is designed to be able to open as many file types as possible, it would often become the default opener of one file type in Files app.

So installing the expected default opener app after iVim may be one solution.

[2019-06-25 10:11] #45 closed

[2019-06-25 15:02] mon10a commented on #69
Terry, I apologize for missing the changes you made in response to issue 43. The document picker that appears when I use :idoc does allow me to select a folder and then open it. And when I do that the contents in the folder appear in netrw and I can open and edit any of the plain text files there. So far, so good.

Nice implementation. Thank you.

It would be even better if I could make the shared

[2019-06-26 07:12] terrychou commented on #69
1) current working directory for opened folder

It actually will :lcd into the opened folder.

2) bookmarks lost problem

Yes, since auto-restore is implemented based on vim's session, all the bookmarks will be lost in another iVim session. I will give it a consideration.

[2019-06-28 05:03] #70 closed

[2019-06-28 05:14] qqquwu commented on #70
Shouldn’t the solution to disable opening .zip in iVim?

On Thu, Jun 27, 2019 at 10:03 PM Terry Chou <notifications@github.com>
wrote:

[2019-06-30 18:30] ericweir opened #71 "Taskpaper.vim not running in iVim"
I've requested help with this on vim-use mail list. Thought someone here might be able to help.

I've had taskpaper.vim running in MacVim for several years. At this point I've got all of my essential plugins but one running in iVim. The only one with which I’m having difficulty is taskpaper.vim. There is no highlighting in taskpaper files and the taskpaper commands have no effect. I haven’t a clue

[2019-07-02 19:31] theusefulmonk commented on #71
Is it a simple `runtimepath` issue? What does executing `:set rtp?` produce? I've been successfully using taskpaper.vim on iOS.  My `runtimepath` is managed via pathogen.  The repository for each plugin I need is just copied over to iVim's root directory. The call to pathogen looks like this:

`execute pathogen#infect('~/{}', '~/onehalf/vim/colors/{}')`

With this setup, both highlighting and the

[2019-07-03 13:01] ericweir commented on #71
Thanks for responding. If I knew how to copy output from the command line I would paste the output of “set rtp” here. So it will just say this appears in the output: “runtimepath=~/.vim/bundle/taskpaper.vim”

I use vundle in my MacVim installation. I understand it will not work in iVim due to the sandboxing of file operations in iOS. I’ve seen pathogen described as a runtime path manager and a plu

[2019-07-03 15:03] ericweir commented on #71
Problem solved. I put pathogen in ~/.vim/autoload.

Tim Pope said to put this in .vimrc: "execute pathogen#infect('stuff/{}')"
Another writer recommended: "call pathogen#runtime_append_all_bundles()"   <http://addisu.taddese.com/blog/using-github-and-pathogen-for-your-vim-config-files/>

Perhaps the amount to the same thing. I went with Tim Pope. I now have highlighting and the taskpaper commands

[2019-07-03 15:05] ericweir commented on #71
So now that the problem is solved I'm curious why, if taskpaper was in my runtime path, I had the problem in the first place. Why didn't it work? What did pathogen do that wasn't done already?

[2019-07-04 13:02] theusefulmonk commented on #71
I'm glad you got things working.  It's actually been so long since I set up pathogen in ivim that I had forgotten how I did it, so I had to go back and look at the directory structure myself. I must have downloaded it manually and put it in the autoload directory just as you did.  As to your followup question, I'm hardly an expert on these plugins, but I wonder if [this answer on SO](https://stack

[2019-07-04 20:10] mon10a commented on #69
Sorry, I do not see how :lcd helps. After :lcd, :buffers still shows the file name only after full (very long) paths, which are hard to read.

[2019-07-04 21:12] ericweir commented on #71
Thanks for the reference to the SO thread. I tried what the initial poster suggested—putting “filetype plugin indent on” after the “bundle” list of plugins in my .vimrc; after commenting out the pathogen call. It made no difference. Taskpaper syntax was still not recognized.

And “:scriptnames” showed that taskpaper syntax was recognized with the pathogen call active and not when it was not.

So I

[2019-09-05 17:55] emkayonline commented on #69
Thank you for explaining that. I was wondering why returning to iVim (even after a few minutes), my buffers would all be empty and point to an "unknown" directory.

Doing :idoc again and selecting the folder resolves this issue, but it would be great if idoc opened the directories as bookmarks so that they could always be referenced, even when restoring a session. This article may be of help, thou

[2019-09-09 07:42] terrychou commented on #69
@emkayonline rather than document bookmarks for remembering , the "bookmarks" was being talked about there meant the "position marks" of vim (":help marks").

The "auto-restore" feature is supposed to handle the condition you describe above. But it is hard to tell the real problem from your description. A screenshot would be more helpful.

[2019-09-09 13:02] emkayonline commented on #69
@terrychou Thank you. After reading your comment this morning I have been trying various combinations of actions to find a reproducible example.

It seems that my issue occurs when a file (that is open in iVim) is edited in another app (even if no changes have been made in iVim).

I am using iA Writer, but also iVim for complex text manipulations. The steps to reproduce the issue are:

1) :idoc to

[2019-09-12 03:43] terrychou commented on #69
@emkayonline OK, I will look into it.

[2019-09-14 01:51] terrychou commented on #69
@emkayonline It was indeed a bug. And it's been fixed. The fix will be included in the upcoming update.

[2019-09-15 16:46] markuzzi opened #72 "Open directories in iOS 13 via idocuments"
I am not able to open directories using the :idocuments command.
The iOS dialog does not allow to select directories.

Is this a restriction of the new iOS 13? Or am I missing anything?

[2019-09-15 16:49] markuzzi commented on #72
Seems to be a feature: [see apple docs](https://developer.apple.com/documentation/uikit/view_controllers/providing_access_to_directories)

[2019-09-17 07:27] terrychou commented on #72
a screenshot would be more helpful here.

[2019-09-17 09:20] markuzzi commented on #72
Sure, sry. I use the command :idoc which opens the file selector. Directories are not selectable in this dialog:

![IMG_0005](https://user-images.githubusercontent.com/35071904/65028763-df5a1a00-d93c-11e9-90e3-1e2dcdcfff5d.jpeg)

[2019-09-20 08:02] markuzzi commented on #72
Hi terry, is there anything else I can support you with?

[2019-09-21 06:59] terrychou commented on #72
@markuzzi No, sorry for the delayed reply.

It turns out that the directory opening in iOS 13 needs to be done in another separate UI. This problem has already been fixed. The fix will be available in the upcoming update.

Thanks for help.

[2019-09-25 17:19] mtwebb commented on #57
I have also noticed some color discrepancies with the ios theme I am working on.  The above workaround of explicitly setting the colors does not appear to work. I’ll report more as I dig in.

[2019-09-25 17:34] mtwebb commented on #7
Now that iOS 13 is out, dark mode is an officially supported concept. A keyboard that displayed according to system dark mode would be one way that is separate from the vim codebase.

[2019-09-26 08:44] terrychou commented on #7
This is already included in the upcoming update, I will update here when it is available.:)

[2019-09-30 01:31] terrychou commented on #69
Version 1.53 is now available in App Store. The "document-disappearing" problem should be fixed.

Also, it includes support of viminfo file, which means information such as file marks will be restored too. Its behavior can be customized via the option 'viminfo'.

[2019-09-30 01:36] terrychou commented on #72
The updated version 1.53 is now available in App Store. It adds a new mode `dir` to the command `:idocuments`. To open external directories in iOS 13, use `:idoc dir` to invoke the new UI.

[2019-09-30 01:38] terrychou commented on #7
It (version 1.53) is available in App Store now, go grab it.:)

[2019-09-30 16:32] mtwebb commented on #7
Just tested it. Works great. And with the dark mode toggle in control center it’s fast to swap.

[2019-09-30 16:52] mtwebb opened #73 "Cmd line midway through screen on phone"
On iOS 13.1.1 i am seeing the cmd line appear midway down on the screen (see screenshot). To debug I tried:
- comment out .vimrc
- restart iVim
But I am still seeing the issue. Any thoughts to the cause?
![7444560E-D91F-4FCC-AB1D-D2AAF893CC65](https://user-images.githubusercontent.com/1376680/65899154-fbf84800-e367-11e9-9e1d-6e6ca3d8b674.png)

[2019-10-01 00:32] terrychou commented on #73
Have you ever tried to toggle the keyboard? Or the command `:redraw`?

[2019-10-02 21:01] mtwebb commented on #73
Thanks for replying. I did not know about :redraw.  I tried both with no luck.  My suspicion is that caused confusion by setting guifont directly in one of my color schemes.

[2019-10-04 13:09] jiahaoLjh opened #74 "Caps Lock to Ctrl mapping not functioning on iPadOS"
I've tried mapping caps lock to both esc and ctrl in Settings. The esc works while ctrl not. Tested on iPadOS 13.1.2 on iPad Pro 2018. I just started to use iVim these two days so I'm not sure whether it is related to the new iPadOS. Anybody experiencing the same issue?

[2019-10-05 06:31] #7 closed

[2019-10-05 06:53] terrychou opened #75 "Would you like to test iVim with vim 8 core?"
Hi, everyone, I am trying to upgrade iVim with vim 8 core. Because it would be a big change, much testing is needed before delivering it to App Store. Are you interested? If so, please offer me your email address so that I can send you TestFlight invitation.

Regards.

[2019-10-05 15:35] mtwebb commented on #75
Happy to test. Email sent.

[2019-10-05 16:09] mtwebb commented on #74
Good catch.  I can confirm this behavior using hardware keyboard on both iPad OS 13.1.2 and on iPhone running iOS 13.1.2.

[2019-10-06 23:04] mtwebb commented on #73
Deleting the app and reinstalling Resolved the issue. I will close issue out now and reopen if I trigger it again.

[2019-10-07 04:34] terrychou commented on #75
@mtwebb Thanks for help, invitation should be sent.

[2019-10-09 05:09] mtwebb commented on #75
so far, so good. I’m not pushing on vim 8 features, but day to day is working well.

[2019-10-09 17:30] drbarrett commented on #75
I'm happy to test. email is in my profile.

[2019-10-10 03:29] terrychou commented on #75
@drbarrett thanks, invitation should be sent.

[2019-10-10 03:37] terrychou commented on #74
It seems caused by a change of caps lock key handling from the system. And it breaks the way iVim remaps caps lock key.

[2019-10-10 03:38] #72 closed

[2019-10-10 10:56] bradleyjones commented on #75
I'd also be happy to test, email in profile

[2019-10-10 12:41] terrychou commented on #75
@bradleyjones thanks, invitation sent.

[2019-10-15 16:27] qqquwu opened #76 "Share sheet functionality broken in ipadOS 13"
When I share a file via share sheet to iVim, it doesn’t open the file in iVim but rather just pops up a dialog box with “Post” as an option.

[2019-10-16 01:50] terrychou commented on #76
It looks like you were sharing text rather than a file, and it works so in that case. Since you mention "iPadOS 13", do you have the same behavior on a different iOS version?

[2019-10-16 07:17] xiaopihai7256 commented on #75
here is my email: liuyifeii917@live.com

[2019-10-16 08:45] terrychou commented on #75
@xiaopihai7256 thanks, invitation sent.

[2019-10-28 01:46] terrychou commented on #75
build 2 has been delivered.

I cannot reply to the feedbacks via TestFlight. You can also reach me via the email in my profile. Thanks!

[2019-10-29 19:50] markuzzi opened #77 "Remote Editing via scp"
Would it be possible to have ssh/scp built in to allow for remote editing (via netrw)?

[2019-10-29 22:22] Cedric-Garcia opened #78 "Directory-wide searching"
I’m struggling to find a way to search through a full directory of text files in vim, have tried the following:

* :grep - Doesn’t seem to work, returns a ‘can not fork’ error
* :fzf- Tried installing the fzf vim plugin (via Pathogen, through which I have successfully installed other plugins), but it seems it relies on an executable, so that’s a no-go
* :ctrlsf - Tried installing this plugin (Path

[2019-10-30 01:39] terrychou commented on #78
Have you ever tried `:vimgrep`? (`":h vimgrep"`)

[2019-10-30 01:47] terrychou commented on #77
Yes, it is possible. I will consider it when the timing is right :).

[2019-11-04 01:10] terrychou commented on #75
I have delivered iVim version 2.00 to App Store. But of course, please go on reporting any problem you find.

[2019-11-04 01:13] terrychou commented on #14
Finally, iVim upgrades to version 2, which has the vim core 8.1.

[2019-11-04 01:13] #14 closed

[2019-11-11 21:17] Cedric-Garcia commented on #78
Took a bit of fiddling but it worked! Closing.

[2019-11-11 21:17] #78 closed

[2019-11-14 12:50] StrayDragon opened #79 "Feature request: Is Python integrated possible?"
Hello, :hand:
I am very grateful to you for developing and maintaining this app. Let me learn and use Vim again.

However, I tried to install a lot of plugins these days. As you said in the documentation, many exciting plugins are not working due to various restrictions. One of reason is they depend on other scripting languages, like Python and others. Is it possible to integrate them?

Anyway, iV

[2019-11-15 00:43] terrychou commented on #79
Glad to hear that you like iVim.

Yes, it is possible to integrate scripts support, such as python or lua, into iVim. In fact, I have been trying to add external commands support into iVim. But it needs some time since it requires certain low level changes.

[2019-11-15 02:35] StrayDragon commented on #79
That's awesome! :smile:
Thanks for your reply and looking forward to an update to these features.

[2019-12-10 16:54] mchalkley opened #80 "IAP addition request to support development"

[2019-12-12 12:01] pome-ta opened #81 ":isetekbd don't working"
hi!
I enjoy ivim very much. Thank you for making!

I have iphone11 (iOS13.2.3) and iPad Pro 10.5inch (13.1.2), and the ivim version is 2.00 (3).

`: Isetekbd` is `remove` works, but `append` and `insert` do not work.

The error log is `invalid locations nil`.

I wrote the following on the cmdline:
[code]
or
[code]

Since it was executed safely, I wrote the following and executed it:
[code]
or

[co

[2019-12-13 08:27] terrychou commented on #79
@StrayDragon the beta will be ready, would you like to try it? If so, please given me an email so that I can send you the TestFlight invitation.

[2019-12-13 08:29] terrychou commented on #81
Thanks for reporting, I will look into it.

[2019-12-13 08:50] StrayDragon commented on #79
@terrychou Wow, very happy to test it, here is my email: straydragonl@foxmail.com

[2019-12-14 06:55] terrychou commented on #81
It's been fixed, and the fix will be available in the upcoming update.

[2019-12-14 07:21] StrayDragon commented on #79
@terrychou Thank you, I received your invitation.But my location of Apple id is in China and there are some regional restrictions or policies that make it impossible for me to load this test version. I also try to activate with redeem code, however, it only shows that the TestFlight server is not connected(actually, it works well).

That's too weird, and I could find/install/update `iVim` in App S

[2019-12-14 10:35] terrychou commented on #79
@StrayDragon no, the situation right now is that I just added your email into the tester group but I haven't uploaded the app to TestFlight yet. You should be notified and able to install it when the app is in position.

[2019-12-15 04:12] furuki328 commented on #76
I found same trouble. I share a text file from Files app. then “Post” dialog pops up, and tap “done” with no input starts iVim without the text file.

[2019-12-16 02:10] terrychou commented on #79
@StrayDragon it should be available now.

I didn't provide the SSL certificate file in this upload, so you may need to obtain it by yourself. Please refer to the environment variable `$SSL_CERT_FILE`. (:echo $SSL_CERT_FILE)

Also, the module `pip` is available, please try it.

[2019-12-16 03:32] StrayDragon commented on #79
@terrychou That's great, I have successfully installed it, thank you for adding these feature, I will do some testing and provide feedback as much as possible.

[2019-12-17 02:16] terrychou commented on #76
The "Share with iVim" option is supposed to be used to share selected text (`:help share-with-ivim`). If you want to open a file in iVim, please use "Open in iVim" or the ex command `:idocuments` instead.

[2019-12-17 12:20] mchalkley commented on #76
Something seems to have changed that has broken the “Open In” functionality.  I primarily use it with Working Copy, where it has always worked flawlessly.  I thought that perhaps Working Copy had changed something, but I can use its “Open In” with other apps, like GoCoEdit, just like I previously used iVim.  With iVim, however, I get the “Post” popup window, whether I tap the Share button, then im

[2019-12-18 02:34] terrychou commented on #76
I have tried myself.

In the share sheet of iOS 13, the item "iVim" is actually "Share with iVIm". If it isn't visible, there may be the item "Open in iVim" or "Copy to iVim" available after you tap the "more" option. That is the old friend and they work as always.

[2019-12-18 11:53] furuki328 commented on #76
Thank you! I’ve found it. And that works.

[2019-12-18 13:18] mchalkley commented on #76
I’m still unable to get it to work.  Every option available to me causes a dialog box that allows me to “Post” to iVim.  I’m discussing it with Anders, the creator of Working Copy now.  His comment so far (and he sent me a screenshot to demonstrate) is that “Open in iVim” is the option I’m looking for.  Why it’s not available (I only see “iVim”), is still a mystery.  I’ll update the results of my

[2019-12-18 15:14] mchalkley commented on #76
Well, the only thing we’ve been able to confirm is that the “Open in iVim” option doesn’t appear on either of my iPads or my iPhone.  The option that just shows “iVim” does, but this opens a dialog box that offers the “Post” option, which just opens an empty iVim buffer.  I’m researching ways to reset this - it may come down to uninstalling and reinstalling iVim.  I’m hoping not to have to do that

[2019-12-19 00:43] terrychou commented on #76
Can you describe your steps in details? Let me see if I can find any clue.

[2019-12-19 03:46] mchalkley commented on #76
After conferring with Anders (Working Copy), he noticed that he had two “Share sheet” items for iVim.  One of them is labeled just “iVim” and, when chosen, provides the “Post” dialog (picture of it on my iPad attached).  The other is labeled “Open in iVim” and it opens iVim with the current file in a buffer, and returns the edited file to Working Copy when saved.  The latter option is the one I’m

[2019-12-19 04:05] terrychou commented on #76
@mchalkley have you tried to tap the "More" item (at the end of the first row of items) to reveal the extra options? My "Open in iVim" lies in the "Suggestions" sections after I did that.

[2019-12-19 12:10] furuki328 commented on #76
From Files app.
![image](https://user-images.githubusercontent.com/28430794/71172067-a9f9fb00-22a2-11ea-8b69-066940200916.png)

select "・・・"  その他 means more or others
Then scroll down. Upper side just "iVim" is found, but it is not "open in".
![image](https://user-images.githubusercontent.com/28430794/71172467-a9ae2f80-22a3-11ea-9d31-cc5492de6048.png)

Down scroll until I find "iVimで開く". That mean

[2019-12-19 13:15] mchalkley commented on #76
Yes, that’s the issue, on my device: neither the “Open in iVim” nor the “Copy to iVim” options are present, even in the “...” (more) section - the only option I have says simply “iVim”.  They used to be there, because I used them all the time, but they’ve disappeared and I can’t figure out how to get them back.

[2019-12-20 02:35] terrychou commented on #76
Well, if that is the case, the cause probably is the "overloading" problem you talked about.

You can use the `:idocuments` command instead for now, they are actually the same in essential.

I will make iVim adapt the new share sheet of iOS 13.

[2019-12-20 02:36] #75 closed

[2019-12-20 02:37] #3 closed

[2019-12-20 02:37] #9 closed

[2019-12-20 02:37] #24 closed

[2019-12-21 01:25] terrychou commented on #81
version 2.10 is ready on App Store, check it out.

[2019-12-21 01:25] #81 closed

[2019-12-21 01:29] terrychou commented on #80
version 2.10 is available on App Store now. Two more IAP options for donating are included (`:h ios-iap`). Thanks for supporting.

[2019-12-21 01:33] terrychou commented on #79
The new update (version 2.10) has been delivered to App Store. Thanks for helping. Please report if there is any further problem.

[2019-12-21 01:35] terrychou commented on #77
version 2.10 is ready on App Store now. The scp:// protocol should work in netrw now. Check it out.

[2019-12-21 03:18] mchalkley commented on #80
I just installed the App Store version, typed ‘:isupport’ and tapped on ‘Big Donation’.  Initially, the dialog box disappeared without asking me to confirm or “touch to pay”, so I typed ‘:isupport’ again.  This time, there’s an ‘in progress’ indicator spinning in the upper right corner, but it seems to be stuck there.  Let me know if you need me to try something else - I’ll just leave it overnight

[2019-12-21 08:30] markuzzi commented on #77
Awesome! Thanks very much!

[2019-12-21 08:30] #77 closed

[2019-12-21 11:02] pome-ta commented on #81
very cool bugfix and update!!!!
I love this application more.😍

[2019-12-21 11:49] terrychou opened #82 "iVim project wiki page"
Hi, everyone,

I have decided to utilize the [project Wiki](https://github.com/terrychou/iVim/wiki) and been building it.

Information about how to properly use or config iVim will be put there. Please check it out.

If you have any suggestion, just let me know.

[2019-12-21 13:00] mchalkley commented on #80
I tried to donate again a few minutes ago - same result, so it doesn’t seem to be working for me...

[2019-12-21 14:34] terrychou commented on #80
@mchalkley you can try to logout your account in the “iTunes & App Store” in the “Settings” app, then login again. Sometimes the Apple’s server may have problem, so maybe you can try later.

[2019-12-23 09:00] terrychou commented on #76
@mchalkley I did some following-up research:

1. Since an app update could be treated as a "re-install", did your update solve this problem?

2. I planned to add an Action Extension to do the file opening, but it turned out that way would be different from the "Open in ..." item (it would only copy the content of the file, rather than editing the file in place).

[2019-12-23 10:44] StrayDragon commented on #79
Yes, I already updated `iVim` from App Store, this issues has been solved.
but some not very important bugs which I mentioned in the email will still appear in the latest version of `iVim`.If possible, I will open new issues.
Thanks again 😃

[2019-12-23 10:44] #79 closed

[2019-12-23 12:03] mchalkley commented on #76
@terrychou I really appreciate your continuing to look into this.  I was also hoping the App Store version install would “reset” the Share Sheet options and “Open in iVim” would appear in the “More” section, but it did not.

I have also been slowly deleting apps that I don’t use regularly, in the hopes that it will cause the option to reappear, but that hasn’t worked either, yet.  I guess my only

[2019-12-23 14:10] ericweir commented on #76
Unrelated question: How do you sync between different installations of iVim?

----------------------------------------
Eric Weir
Decatur, GA  USA
eeweir@bellsouth.net

"He is the Picasso of pettiness, the Shakespeare of shit."

- Nate White

[2019-12-23 16:31] marcocspc opened #83 "Latin characters accentuation"
Hello! I’m having problems with latin accented characters. When I type the character is shown normally, but with its accent’s characters on its side. Like this: é’é’, ã~, and so on... I’m attaching a screen capture to show it on the app.

![IMG_0090](https://user-images.githubusercontent.com/17876596/71369078-69db9680-2588-11ea-8cfd-237a93ae65c5.png)

[2019-12-24 01:14] terrychou commented on #83
Please provide the way to reproduce the problem, for example, how do I input the accented characters? And the versions of your app and system.

[2019-12-24 10:29] marcocspc commented on #83
Thanks for the quick response.

To type the accented characters you should use apple magic keyboard, international version. On System Settings App > General > Keyboard > Physical Keyboard, you should select International USA - PC for input language. Then you can type pressing tilde (under esc key) and A or O, another way would be pressing single quote (‘) and then A, E, I, O or U.

Software versio

[2019-12-24 23:57] terrychou commented on #76
@ericweir files under `Documents` should be backed up in iCloud, other files such as those for auto-restore are not, since they are device-specific anyway.

[2019-12-25 00:01] terrychou commented on #83
Unfortunately, I don’t have a magic keyboard by hand. I will see whether I can test it in other ways.

[2019-12-28 04:33] terrychou commented on #83
It's been fixed. The fix will be available in the upcoming update.

[2019-12-31 20:39] emkayonline opened #84 "Failure to open file on iCloud with apostrophe in file name"
I have a markdown file with an apostrophe in the filename that used to load OK into ivim, but since version 2.1 I can't load it.

It will load if copied into the "On My iPhone/iVim" section in files, but not from an iCloud application folder (I've tried /iA Writer and /Desktop).

I've tried this with no .vim directory to ensure no plugins or customisation.

The filename has an apostrophe ' in it,

[2020-01-01 11:56] terrychou commented on #84
Ok, I will have a look at it. Thanks for reporting.

[2020-01-02 02:59] kuochang opened #85 "pip: command not found"
I am new to iVim but I really like it. One thing bother me most is I don’t know how to use pip. I tried to type “:!pip install requests” in the command. It shows “pip: command not found”. Please help!

[2020-01-02 08:16] terrychou commented on #85
You can use `:!python3 -m pip` to invoke `pip`. Or you can refer to this wiki entry: https://github.com/terrychou/iVim/wiki/External-Command:-python3#run-python-scripts-directly-as-commands

[2020-01-02 23:06] kuochang commented on #85
Thanks a lot and it works! Actually I read the wiki but just didn’t realize I have to use ‘python3’ to invoke pip.:) Thanks again!

[2020-01-03 13:43] terrychou commented on #85
No problem, enjoy.

[2020-01-03 13:43] #85 closed

[2020-01-05 02:13] terrychou commented on #84
@emkayonline I tried to reproduce this problem but failed. I tried to rename a file in iCloud with a `'` in its name, or copy a file with `'` in its name to a iCloud folder. Both loaded OK.

Have you tried other files? Or can you provide the file in question for me to test?

[2020-01-05 10:01] emkayonline commented on #84
I've created a new minimal file that reproduces the issue: [It's getting hot up here.txt](https://github.com/terrychou/iVim/files/4023256/It.s.getting.hot.up.here.txt)

Unfortunately it looks like GitHub renames the file on upload, so here is the original filename pasted here: It's getting hot up here.txt

To clarify the steps are:
1) Created text file with an apostrophe in filename in iA Writer o

[2020-01-05 18:53] mchalkley commented on #76
@ericweir You’re correct that those files are automatically backed up to iCloud - at least, they certainly are in my case....

[2020-01-05 19:24] mchalkley commented on #76
@terrychou, in testing the latest TestFlight beta, using the Share Sheet share option does indeed copy the text to iVim, but I still have no way to edit the file in place, the functionality that the “Open in iVim” command is designed to provide.  I’m using Notebooks by Alfons Schmid as my base notes repository, and it offers separate “Open in” and “Share” functions.  If I use “Share” and pick iVim

[2020-01-05 21:35] ericweir commented on #76
Thanks, Mark.

------------------------------------------------------------------------------------------
Eric Weir
Decatur, GA  USA
eeweir@bellsouth.net

“This permanent doubt, the deep source of science.”

- Carlo Rovelli

[2020-01-06 03:19] scottbolte opened #86 "enhanced mini keyboard support?"
I have an iPad mini which, unexpectedly, has turned out to be a very capable device when on the go. iVim, an external keyboard, iCloud files, blink with ssh, etc. are a powerful combo. The problem is the size of the keyboard and the all too common lack of an escape key.

After trying a few others, I'm using a Logitech Focus keyboard (search for focus-keyboard-case-ipad-mini-4 to see a photo). It d

[2020-01-06 05:22] terrychou commented on #84
Emmm... it is weird that I can load this file too.

However, I think I may know what the cause is. Please provide me an email, I will send you an invitation to test it via TestFlight.

[2020-01-06 06:27] terrychou commented on #86
Nice mini keyboard but it looks like that it does not have a `ctrl` key?
Actually, vim has a default `esc` replacement: `ctrl + [`. Now that `ctrl` is not an option here, you may need to do the key mapping yourself.

For example, to map `alt + space` to `esc` for insert mode: `:imap <A-Space> <Esc>`. (However, to enable `alt` key mapping, you need to switch on `Enable [alt] Mapping` for iVim in Se

[2020-01-06 07:31] terrychou commented on #76
@mchalkley "open file and edit it in place" cannot be done with the share extension, I have tried to figure out a workaround but with no luck (the system limits the permission). If you want to edit-file-in-place in iVim, you need to use the "Open in iVim" item instead. However, yours disappears for some unknown reason as discussed above.

Even from the "Open in ..." menu you mentioned, the "iVim"

[2020-01-06 12:48] emkayonline commented on #84
That's great. Catch me on:
martin [at] live the seasons [dot] com
Thx

[2020-01-06 13:40] terrychou commented on #84
Just for confirmation: is the middle part "livetheseasons"?

[2020-01-06 13:59] mchalkley commented on #76
@terrychou is it possible that iOS doesn’t treat TestFlight apps the same as App Store apps?  I’ve deleted over a dozen apps that were showing in the Share Sheet list, but iVim still isn’t coming up as a “Copy to iVim” or “Open in iVim” option.

[2020-01-06 18:12] emkayonline commented on #84
Sorry, yes.

[2020-01-07 01:11] terrychou commented on #76
@mchalkley there are some differences between the TestFlight and App Store apps, but I don’t think the Share Sheet part is included in those. After all, it is one functionality provided by the developer rather than mandated by Apple.

Because iVim hasn’t added support to Shortcuts so far, I think this is why it doesn’t show up in its app list.

[2020-01-07 08:27] terrychou commented on #84
@emkayonline invitation sent.

[2020-01-07 08:56] emkayonline commented on #84
It works. I can now open the files. Fantastic.

[2020-01-08 21:44] AmaruCoder opened #87 "Version 8.1.2110 not working"
I have upgraded to version 8.1.2110 but iVim doesn't work on iOS 13.3. It opens and remains  on a black screen until it crushes.

[2020-01-09 01:58] terrychou commented on #87
Please provide more details:
1) version of iVim
2) model of your device
3) from which version you did this upgrade
4) did you upgrade your iOS first or iVim
5) have you tried to reinstall
6) do you have any plugins installed

[2020-01-10 17:15] mchalkley commented on #76
@terrychou just as an FYI, I managed to get the "Open in iVim" "Share sheet" functionality to show up.  I tried deleting apps several at a time until the list just basically went down to half a dozen, but that didn't work.  Then, I deleted iVim and reinstalled it, no change.  Finally, I ended up just resetting the entire device and starting over, which fixed it.  Talk about having to take the "bru

[2020-01-10 17:18] mchalkley commented on #80
I never got this to work, and TestFlight apps, of course, don't have IAP support, so I've still been unable to show my support financially.  You have my email address, so I'd be glad to PayPal you or something like that - otherwise, I'll try again when I go back to the App Store release version, your call...  Thanks again,

Mark

[2020-01-10 20:04] AmaruCoder commented on #87
Thank you for the prompt reply:
1. version of iVim is 8.1.2110 (2.10)
2. iPadPro (10.5 inch)
3. I upgraded from the previous version (2.0)
4. I upgraded iOS and then iVim
5. Reinstall doesn't work
6. I have all the plugins I use on my desktop. The ones supported, worked fine on the iPad in the previous version of iVim (2.0). I have discovered that when I have pathogen activated with:

    set nocp

[2020-01-10 22:45] AmaruCoder commented on #87
It seems that the following lines (from `iColor-ios.vim`) create the problem:

    if has('mac')
        if system("osascript -e 'tell application \"Finder\" to get bounds of window of desktop' | cut -d ' ' -f 4") > 1100
            let g:aColorExternal = 1
        endif
    endif

I replaced that for:

    if has('mac') && !has('ios')
        if system("osascript -e 'tell application \"Finder\" t

[2020-01-11 14:09] terrychou commented on #87
Thanks for the following-up report and glad to know that you have already fixed the problem.

Yes, the main change in version 2.10 is the addition of support of external commands. By default, Apple disables completely the ability of starting new processes via system calls. Thanks to the project [ios_system](https://github.com/holzschu/ios_system), iVim adds the support, well, in a hacking way.

Be

[2020-01-11 14:16] terrychou commented on #76
@mchalkley even though in a hard way, it is great to know that you managed to get "Open in iVim" item back. As I mentioned above, Apple really should provide a way for users to arrange the items in the Share Sheet.

[2020-01-11 14:26] terrychou commented on #80
@mchalkley thanks for this anyway. However, please don't feel mandatory to do the purchase. The IAP in the TestFlight version is only for testing, I tested them right in that. The IAP server seems very unstable, even my testings didn't work every time.

[2020-01-12 08:49] steakknife commented on #3
@clarkezone Yes, I would like to see that also. Having no keyboard repeat is too much like using a dial-up modem and makes iVim too impractical.

[2020-01-12 08:56] steakknife opened #88 "Repeat of external keyboard regular keys"
Per side-comments of #3, external keyboard regular keys should repeat if `Accessibility > Keyboards > Hardware Keyboards > Key Repeat` is on. Without this, iVim is too inconvenient by being too different from desktop usage. IIRC, that's the reason I gave up on iVim last time (a couple of years ago). It seems like it's very close to being usable.

[2020-01-13 20:41] emkayonline commented on #69
Regarding the original feature request: show “bookmarked” directories from other apps in netrw (iOS 13)

I think this is covered by the new parameter dir to idoc, ie. the command
:idoc dir

Perhaps this ticket can be closed, unless I'm missing another feature that this doesn't cover.

[2020-01-14 01:21] terrychou commented on #88
I will add this option.

[2020-01-14 04:42] terrychou commented on #88
and done, it will be available in the upcoming update.

[2020-01-14 04:42] #69 closed

[2020-01-14 16:01] mchalkley commented on #88
@terrychou, this is awesome - thanks!

[2020-01-21 01:37] scottbolte commented on #86
Thank you. I did not realize there was an `Enable [alt] Mapping` setting in the iOS preferences. That, plus adding the :imap line to my ~/.vimrc file, did the trick.

[2020-01-21 01:37] #86 closed

[2020-01-21 05:36] AmaruCoder commented on #83
I have been dealing with this issue too, and have been waiting for the next release. Is there any way to get early access?

[2020-01-23 00:43] AmaruCoder commented on #83
@terrychou thank you very much for the quick turnaround. I have installed the new version, and found a strange behavior. I am using an external keyboard for these tests. For comparison, this is what happened in different versions:

**Version 2.00  (and all other editors in iOS)**
`<alt-e> + e = é` (the expected behavior)

**Version 2.10**
`<alt-e> + e = é´` (notice the accent mark after the letter

[2020-01-23 01:40] terrychou commented on #83
@AmaruCoder this is caused by the conflict between this and the newly added `Key Repeating` option (#88). For now, you need to switch the latter off (it is on by default) to make the former work. I will find a fix.

[2020-01-23 06:08] terrychou commented on #83
@AmaruCoder and it's been fixed. If you would like to test it, please give me an email.

[2020-01-23 06:53] AmaruCoder commented on #83
Great. Thank you very much for looking into it. I would like to test the new version. My email is `escribidor` at `att.net`.

[2020-01-24 06:42] AmaruCoder commented on #83
Thank you for the invitation to test iVim. Just one question, would installing the test version of iVim delete the data in the app?

[2020-01-24 08:17] terrychou commented on #83
@AmaruCoder although it warned me of this sometimes, I don't remember any data loss. However, you better test it with a safer settings, backup you data first.

[2020-01-24 14:45] mchalkley commented on #80
@terrychou I got this to work with the latest App Store release.  It took a few tries, but it finally said it went through.  Hopefully, they forwarded it on to you... :)

[2020-01-24 14:54] mchalkley commented on #76
@terrychou, I have posted the Share Sheet issues in Apple's Feedback app, reported their handling of it as a bug, and put in a feature request that they allow users to arrange items for all installed apps, for what little it's probably worth.  Apple is one of those companies where things are great if you happen to agree 100% with their priorities, methods, UI, dev cycle, etc.  They certainly don't

[2020-01-24 15:00] mchalkley commented on #88
@terrychou, This enhancement is working perfectly in my installation - thank you again!

Mark

[2020-01-26 02:37] terrychou commented on #80
@mchalkley thanks for supporting!

[2020-01-26 02:38] #76 closed

[2020-01-26 02:54] terrychou commented on #88
@mchalkley no problem.

[2020-01-28 04:47] AmaruCoder commented on #83
Thank you. The new version works great. However, there is a new issue. When I switch, using an external keyboard, and with <command-tab> to a new application, sometimes iVim look like the enclosed image (notice the black band above and the compressed characters). This happened more often with PDF Expert (a PDF viewer). I imagine that this has to do with the new Italic and Boldface support.

![Issu

[2020-01-28 06:06] terrychou commented on #83
It should have nothing to do with the bold and italic style support.

Do you have a way to reproduce it?

[2020-01-28 06:19] AmaruCoder commented on #83
Yes, you open iVim, then `<command-tab>` to PDF Expert and back to iVim. Perhaps PDF expert sets up properties for the screen that iVim doesn't clear out? This is something that didn't happen in the previous version of iVim.

[2020-01-28 08:24] terrychou commented on #83
@AmaruCoder I tried with PDF Expert 7 but failed to reproduce this problem.

[2020-01-28 19:58] mchalkley commented on #76
@terrychou, I know I said this was working fine for me, but I just noticed that the Open in functionality appears Notebooks' Share Sheet for .md files, but not for .txt files.  Is there something that you need to do to "register" iVim to be "shareable" for .txt files, or is this just another iOS/iPadOS glitch?

[2020-01-29 01:45] terrychou commented on #76
@mchalkley I tried a .txt file, it worked for me. Actually, I “register” iVim in a way that it should open any type of file. I suggest that you really should try the `:idocuments` command.

[2020-01-30 06:08] AmaruCoder commented on #83
Thank you very much for the help. Unfortunately, I cannot reproduce the issue consistently. It happens sometimes but not in a way I can reproduce. Thank you again for the time, and for making Vim available on the iPad. It has changed the way I work.

[2020-01-30 13:59] emkayonline opened #89 "Two finger scrolling doesn't work in insert mode"
The two finger scrolling works great in Normal mode, but if you are in insert mode then it does nothing (though single click does move the cursor as expected)

[2020-01-31 07:44] terrychou commented on #89
It's been added in the upcoming update and will be available soon.

[2020-01-31 07:44] #88 closed

[2020-01-31 07:46] terrychou commented on #87
`has("mac")` has been disabled in version 2.12.

[2020-01-31 07:46] #87 closed

[2020-01-31 07:48] terrychou commented on #62
This support has been added in version 2.13.

[2020-02-01 02:23] kuochang commented on #62
Just updated and thank you for the support!

[2020-02-03 01:12] lignamorren commented on #74
Terry, thanks a million for your work on this project.

I am trying to use a Logitech K760 keyboard with an iPhone 7 Plus running iOS 13.3 and iVim 8.1. I am having no luck remapping capslock; whether I try none, esc, or ctrl (my preferred option), capslock doesn't do anything. It doesn't even function as capslock, though the green LED on the key lights up and the capslock works in other apps.

On

[2020-02-03 01:39] lignamorren commented on #57
I'm seeing something similar. On both iOS 13.3 and 12.4.4, my .vimrc includes "colo zellner2" (I had problems with an invisible cursor with zellner so I tweaked it). With the current iVim, on both machines, the cursor is invisible at first, though ":colo" shows that it's correctly set to zellner2. I have to reenter the command ":colo zellner2" to get the cursor to appear as specified in the zellne

[2020-02-03 03:11] terrychou commented on #57
@lignamorren Can you please post the output of command `:hi Cursor` here?

[2020-02-03 03:23] terrychou commented on #74
@lignamorren you're welcome.

As mentioned above, the reason why the `caps lock` remapping stops working in iOS 13 is that Apple had changed the behavior of `caps lock` pressing in the updates. As a result, the way iVim "hacks" to do this is broken. There is little I can do about this. However, remapping to `esc` seems still working in iOS 13.

Selecting "none" should put the `caps lock` key to it

[2020-02-03 04:27] lignamorren commented on #57
`:hi Cursor`
`Cursor         xxx ctermbg=10 guifg=bg guibg=fg`
`:colo`
`zellner2`

The "xxx" is inverted. I guess that's an illustration of what the cursor should look like; but it doesn't, it's the same background as the text bg, and the foreground color blinks, between the text fg color and black. Not quite invisible, if you're editing text that isn't black, but very nearly.

It's the same on bo

[2020-02-03 07:21] terrychou commented on #57
iVim sets its default foreground color to "white" and background color "black". And to ensure the visibility of the cursor, it also sets the highlight group `Cursor` as `guifg=bg guibg=fg`. All these are hardcoded in the code.

As a result, if the color scheme you are using doesn't have its own setting to `Cursor` and it happens to have a white background, the cursor would not be visible.

As to y

[2020-02-03 11:16] sedm0784 commented on #57
FWIW, I also have the problem where

1. My cursor is invisible:

![cursor2](https://user-images.githubusercontent.com/139165/73648487-939ed780-4675-11ea-8ff0-18def9800f8f.PNG)

2. The output of `:hi Cursor` does not match the colours set by the colorscheme in my vimrc (`morning`)

![cursor1](https://user-images.githubusercontent.com/139165/73648455-808c0780-4675-11ea-8951-68e80c32526c.PNG)

N.B. T

[2020-02-03 22:58] lignamorren commented on #74
@terrychou, I confirm that mapping `caps lock` to `esc` works. But selecting `none` seems to disable the `caps lock` key altogether. This happens in both iOS 12 and 13.

I'm curious, where's that option to switch between languages? Is that the same as switching keyboards?

While we're discussing input, I'm noticing that whenever I type `" `, what I get is `""`. So if I'm not paying attention, tryi

[2020-02-04 02:53] terrychou commented on #74
@lignamorren I have several keyboards set, by default, pressing `caps lock` toggle among them.

As to the quotes problem, I don't have it. It probably has something to do with your plugins.

[2020-02-04 02:53] #65 closed

[2020-02-04 03:09] terrychou commented on #57
have you guys enabled the auto-restore for these testing?

[2020-02-04 03:43] lignamorren commented on #57
Not until you mentioned it. I tried activating it and it seemed to work once or twice but I have in-app purchases disabled so it must have deactivated after the first time.

[2020-02-04 04:03] lignamorren commented on #74
I see. Turns out Gboard and Emoji don't qualify as keyboards in this sense. I added a keyboard and I see what you're talking about. However, in all my fooling around with keyboards and iVim settings, at one point I was seeing the `caps lock` key doing what I I expected it to, locking capital letters on -- as I understand it, that shouldn't happen with iOS 13 and multiple keyboards. But after some

[2020-02-04 11:57] sedm0784 commented on #57
I have `auto-restore` switched off in the settings.

[2020-02-07 06:49] kuochang opened #90 "How to clean up the key bindings of the uninstalled plugin in iVim?"
I used to install some plugins in iVim and then I dislike them, so I deleted them. For somehow, iVim still remember those associated key bindings even I remove the plugins from all folders(auto load, plugins, bundles). Is there any way I can remove those key bindings from iVim. Thanks!

[2020-02-07 06:57] terrychou commented on #57
the 'fg' problem and the cursor problem both have been fixed, and the fixes will be available in the next update.

[2020-02-07 07:07] terrychou commented on #90
If you have auto-restore enabled, it will remember global mappings. You can try to disable it to see if that helps.

[2020-02-07 13:14] kuochang commented on #90
YES!!! It works!!! You’re the man! I almost wanted to reinstall everything and you save my day. Thanks!!!

[2020-02-07 13:16] #90 closed

[2020-02-10 09:45] emkayonline opened #91 "Keyboard focus not returning to iVim in split screen"
When using iVim in 50-50 split screen on an iPad Pro with an external keyboard, it seems that iVim can only get keyboard focus when the extended keyboard is visible.

To reproduce this:
1) Open iVim and another app that accepts keyboard input (eg. Drafts) in a 50-50 split on the iPad
2) Make sure the extended keyboard is hidden in iVim
3) Using an external keyboard, type something into Drafts
4) N

[2020-02-12 01:57] terrychou commented on #91
It’s been fixed and I am pushing it to TestFlight.

[2020-02-14 15:39] IRigoutsos opened #92 "feature request"
First off, congratulations on a terrific porting of vim to iOS!  Now with the addition of the term capability, ivim is extra powerful.

I would like to propose adding one more command to the term: "cut"  It will make a powerful combination with "sort" which is already available.

Thank you for considering it.

[2020-02-15 03:05] terrychou commented on #92
I will try to add it.

[2020-02-15 20:18] emkayonline commented on #91
I've just been testing it and it works perfectly.  Thank you.

[2020-02-16 02:39] #91 closed

[2020-02-16 02:40] #89 closed

[2020-02-16 02:41] #84 closed

[2020-02-16 02:43] terrychou commented on #57
the fix is now available in version 2.14.

[2020-02-21 09:26] markuzzi opened #93 "Node/Npm as external command?"
Hi terry,

I am heavily using iVim and it is great! Thanks again!

Since I am coding javascript and typescript a lot, I was wondering if support for node and npm would be possible. Some apps (e.g. play.js) managed support, I think via [1] but not sure...

Do you see any chance here?

Thanks!
Markus

[1] https://code.janeasystems.com/nodejs-mobile/getting-started-ios

[2020-02-24 01:20] terrychou commented on #93
Thanks for suggestion, I will have a look at it.

[2020-02-26 03:27] terrychou commented on #92
@IRigoutsos the command `cut` has been added. If you would like to try it now, please give me an email for TestFlight testing.

[2020-02-26 03:30] IRigoutsos commented on #92
Great news!  Yes, I will be happy to test it.

Please use yzrzi@nyc.rr.com

Thanks!

--
##

[2020-02-28 15:05] idvorkin commented on #88
I have Key Repeat enabled in Accessibility - Key Repeat, as well as the option set in iVim settings, however I am not getting key repeat.

How can I help debug?

@terrychou

[2020-02-28 15:13] idvorkin commented on #80
I’m trying to support, but when I click on the button the screen dissapears and I think nothing is happening. I really want auto-restore and not being able to buy in (and support you) is painful.    1) How can I help you debug? 2) Have you thought of setting up Paetreon?

[2020-02-28 17:36] idvorkin opened #94 "Support zooming via Win+ Win- and pinch motions"
While not strictly a vim command, this is a features of most terminals, so folks would love it.  Might be a good "pay-for" feature as well.

[2020-02-28 17:37] idvorkin commented on #93
Not an answer, but a path you may want to consider if you haven't seen it before. iSH(https://ish.app) is a linux emulator for iPad. A bit slow, but I love it!

[2020-02-29 06:43] markuzzi commented on #93
Thanks! Great app that I used before. However, it does not support node so far.

[2020-02-29 19:41] andyxukq opened #95 "Integrating more command line tools"
Love the built-in terminal (aka `ivish`), it opens lots of potential to extend use case scenarios of ivim.
I have two questions regarding bringing more functionalities to the built-in terminal:
1. Could you help point to related code base or setting that makes adding more command line tools possible? For example, how did you add the command “python3”, “pip” or “ssh”?
2. Adding `git` command would

[2020-02-29 20:40] mtwebb commented on #73
I am seeing this issue happen again where the cmd line is halfway down the screen. Any thoughts on what might be the cause? Happy to try any tests. Tried redraw to no avail.

![IMG_1801](https://user-images.githubusercontent.com/1376680/75614699-58ff5200-5af0-11ea-8d60-906f886da0b0.png)
![IMG_1802](https://user-images.githubusercontent.com/1376680/75614704-5ef53300-5af0-11ea-84fb-50ded2e898af.png)

[2020-03-01 17:48] mtwebb commented on #74
In the latest iPadOS 13.4 beta it is now possible to remap caps lock on hardware keyboard to escape / contol, at the system level.  While the in app hack was nice, it’s great to not have caps lock state carried over when switching out of iVim.  Glad to see Apple move in this direction.

[2020-03-02 03:45] terrychou commented on #95
Glad to know that you like iVim's internal terminal and `ivish`.

To answer your questions, I think I need to make some concepts clear first.

A normal command line tool is written in the traditional process-way, which means that they will be spawn into processes when start running in the host systems. However, for the sake of security, iOS forbids apps to start any new processes on their own. As

[2020-03-02 03:51] terrychou commented on #74
@mtwebb maybe that was the reason Apple did the change.

[2020-03-02 03:55] terrychou commented on #88
@idvorkin what is your configurations of hardware and software? Maybe you can give another hardware keyboard a try as the first approach.

[2020-03-02 04:01] terrychou commented on #80
@idvorkin the IAP server of Apple seems often buggy. So far, the only suggestion I can make is to try it more times :).

[2020-03-02 04:04] terrychou commented on #94
I will think about it.

[2020-03-02 04:15] terrychou commented on #73
@mtwebb which device does this happen on? Have you tried another one? What is the iOS's version? Have you tried other colorscheme? Or have you tried to disable all vim custom settings?

I never encounter this problem on my iPad, and I need to reproduce it to know the possible cause.

[2020-03-02 04:20] andyxukq commented on #95
Thanks for taking time to answer my questions and much appreciate your detailed explanation.

Because of the limitations you mentioned, there must be tons of cross-platform patches to be done in order to bind UNIX programs to iOS eco, and that's what makes projects including yours so valuable :D

I see that the latest version of iVim (built with `ivish`) isn't on Github yet. I was wondering if you

[2020-03-02 05:36] mtwebb commented on #73
@terrychou  so far only seems to happen on my iPhone 11 Pro Max running 13.3.1 (my iPad pro running 13.4 the cmd line is at the bottom above the keyboard as well).

I have tried moving my .vimrc out of the way and quitting / restarting iVim with no luck so far.  Last time, deleting the app and starting over resolved the issue, but I would prefer to not need to recopy my config over (which iOS make

[2020-03-02 06:05] idvorkin commented on #80
I hear you, but I've never experienced this flakiness on any other apps. Could iVIM be doing it differently?

[2020-03-02 06:06] idvorkin commented on #88
I tried it again, changing nothing and it just worked - not sure what is going on.

[2020-03-02 20:50] mtwebb commented on #73
I also deleted the app on phone and reinstalled from testflight. Now command line is closer to the keyboard. I will follow up with any changes on my side that make the issue reappear.

[2020-03-03 02:57] terrychou commented on #95
I have pushed up the latest code of iVim and the code of ivish (https://github.com/terrychou/ivish), you can check them out.

[2020-03-03 18:56] andyxukq commented on #95
Thanks! Checking them out.

[2020-03-04 13:17] mchalkley commented on #74
For some reason, as of the latest iPadOS public beta, I have to hit Shift-Return to get an actual Return.  For example, if I want to enter `:ls<Return>`, I have to type `:ls<Shift-Return>` - just hitting `<Return>` does nothing anymore, ever, as far as I can see.  I've tried re-pairing the keyboard, etc.

Mark

[2020-03-06 09:28] videoMonkey commented on #77
Can I see an example of how to do this? Thanks!

[2020-03-06 16:19] mchalkley commented on #74
As another follow-up to the above, this continues to occur sporadically.  My statement regarding deleting all the buffers resolving it isn't accurate, though - the last time it happened, I had to force-quit iVim to get the external keyboard working properly again (in iVim only - testing it in other apps didn't show any issues).

The other peculiarity here is that iVim's cursor changes from a solid

[2020-03-07 14:43] ericweir opened #96 "File copy failing in Files app"
I have been trying to copy my iVim-related files via the Files app to a Dropbox folder so I can access them from both iVim and MacVim. A folder of ten files transferred easily, but a Vimwiki folder of 227 files repeatedly fails to copy all files, stopping after 100 or so.

Perhaps unrelated but puzzling is a discrepancy in the number of files reported in this folder. Before entering the folder Fil

[2020-03-09 20:08] RunningUtes opened #97 "Any plans on updating iVim terminal commands?"
Would it be possible to add additional commands to the terminal? xxd, pandoc, calc would all be great

[2020-03-09 21:35] #62 closed

[2020-03-10 02:48] terrychou commented on #77
@videoMonkey First, you need to enable SSH connection from iVim to your target machine, please refer to this wiki page: https://github.com/terrychou/iVim/wiki/External-Command:-ssh ; Then use a URL as the target filename in your Ex command, example: `:e scp://username@host:filepath`. It will work just like local thanks to `netrw`.

[2020-03-10 02:54] terrychou commented on #97
@RunningUtes Thanks for suggestion, I will record them in the list, but I cannot make promise here.

[2020-03-10 07:30] videoMonkey commented on #77
Thanks for that answer! I did find the docs but I got confused as to what command to issue to get a remote file. Thanks!

[2020-03-10 07:55] videoMonkey commented on #77
Alas, it would seem that the server that I am trying to connect to only allows for password auth, thanks for your help. This is a great trick to have.

[2020-03-10 09:56] videoMonkey commented on #80
I have tried a few times over the last few months, from two different devices, still no luck.

[2020-03-13 15:21] dangh opened #98 "Can we hide the home bar on iOS 13?"
Hello,

As the title say, is there any way to do it? It’s occupied the bottom real estate and very annoying when we use a dark theme.

Also, thank you for this awesome app. I’m very happy to support it ❤️

[2020-03-13 17:00] dangh commented on #80
I just bought the auto restore feature. When I click purchase, the window disappear and the help screen showing. If I close the help screen and exec `:isupport` again, the window will close and the help screen will show up again, never success. So I keep the help screen on, exec `:isupport` and click purchase again. This time it work. Not sure about other option though.

[2020-03-14 01:38] terrychou commented on #98
By "home bar", do you mean the extended keyboard bar? If so, single finger long touch the screen will toggle it; or you can make it hidden by default by switching on the related option in the Settings.app.

[2020-03-14 02:05] terrychou commented on #96
1. the number restriction of file copying issue

I don't really know the reason of this issue. But it probably comes from the Files.app, since what iVim does here is just exposing its `Documents` folder to the Files.app, without enforcing any limitation on it.

One better way I would suggest is that you can make an archive tarball (e.g. via the command `tar`) of all the files before copying. Then

[2020-03-14 02:13] terrychou commented on #80
@dangh in the support window, only tapping on exactly the price button will start the purchasing; tapping on other places of one item will show the help info related to the item.

[2020-03-14 06:28] dangh commented on #98
I mean the white stripe in the screen shot. I’m not sure what to call it 😛

![IMG_0038](https://user-images.githubusercontent.com/1020347/76676577-f7ff7000-65ff-11ea-91c3-3dfb783725f9.jpeg)

[2020-03-14 17:19] ericweir commented on #96
Thanks very much, Terry. I was aware that this was almost certainly a problem associated with the Files app, not iVim. Just thought some iVim users might have encountered it and have suggestions/solutions/workarounds to offer.

Thanks too for the explanation of the discrepancy in numbers of files. And especially for the tarball suggestion. I’ll give it a try.

[2020-03-15 05:28] terrychou commented on #98
I see, I will look into it.

[2020-03-17 08:42] videoMonkey commented on #80
Ahh, now it worked. I didn’t realize that I was dealing with two different tap targets...

[2020-03-20 12:45] videoMonkey opened #99 "Secure Shellfish Support"
I like iVim a lot, and I was excited that I might be able to edit remote files through the secure shellfish provider, but when I link a folder in secure shellfish, I don’t see anything. If I sync the files for offline first, then I can see the files, but the syncing process is wonky and I lost some work that way. I reached out to the developer and he shared the following.

I wish I had the program

[2020-03-20 18:05] mchalkley opened #100 "Using 'gx' to open url's in Markdown docs"
Is there a way to get gx to work with iVim?

Thanks,

Mark

[2020-03-23 01:40] terrychou commented on #99
@videoMonkey did you open iVim's files in Shellfish, or Shellfish's in iVim? Can you please provide the detailed steps you took (in a reproducible way)?

[2020-03-23 01:44] terrychou commented on #100
@mchalkley what exactly is `gx` here you refer to? More details would be great.

[2020-03-23 01:49] mchalkley commented on #100
@terrychou  - Sorry, didn't mean to be too cryptic.  I use 'gw' on my Windows laptop to open URLs embedded in my Markdown documents.  It uses netrw, as I understand it...

Thanks,

Mark

[2020-03-24 02:02] namuelo opened #101 "i found something inconvenient"
i'm a newe in vim, and as i learn the very basics of it i try to use the editor, after some update i found this;
i have an old iphone 5s with ios 12.4.5
as i remember when tap with two fingers the keyboard used to disappear and then if one scroll with two fingers the keyboard remained hide so contemplate the text is easy, most in small screens like mine, but after an update when scrolling with two

[2020-03-25 03:11] brettc commented on #74
13.4 has just been released and the ability to control the hardware key mapping has been kept -- no more workarounds are needed. Everything seems to be working beautifully. Thanks for an awesome app!

[2020-03-26 15:26] EricEWeir opened #102 "Lose highlighting when Index.wiki is loaded from Dropbox"
I have put my Vim files, including my Vimwiki files, in a Dropbox folder. I would like to be able to access them from both MacOS (MacVim) and iOS (iVim).

However, when I open the Vimwiki index file (“index.wiki”) in either app the highlighting of links that enables navigation among Vimwiki files is lost.

What happened? How do I restore it?

Thanks
------------------------------------------------

[2020-03-27 03:09] terrychou commented on #98
The latest update (version 2.15) provides an option in the Settings app to do this. It is disabled by default though.

[2020-03-27 03:13] terrychou commented on #94
The version 2.15 added two fingers pinch to zoom. However, it doesn't include the hardcoded keyboard shortcuts (like you mentioned as `Win +` or `Win -`). Instead, two subcommands `+` and `-` have been added to command `:ifont` to change the current font size. You can map them to any key pressing as you like.

[2020-03-27 05:35] avidiotic commented on #62
@terrychou, is there any documentation on how to use the support?

I have regular, italics, and bold versions of JetBrainsMono installed, but I can only set up one as the `guifont`.

[2020-03-27 06:16] terrychou commented on #62
@avidiotic set the `guifont` to the regular one should do. Or, it would be more convenient to use the command `:ifont` to manage fonts in iVim (":h :ifont").

[2020-03-27 07:18] avidiotic commented on #62
I tried both `guifont` and `:ifont`. I used my vimrc for reference, where I get italics for comments when I use the preloaded fonts. My uploaded versions of JetBrainsMono show up as three different fonts in the `:ifont` menu. Setting the font to JetBrainsMono-Regular gave me underlined comments (instead of italics).

[2020-03-27 07:48] avidiotic commented on #62
Thanks for the response! Setting that and restarting iVim worked.

[2020-04-01 14:58] idvorkin commented on #80
The tap tartget is a good tip, but it still doesnt’ work for me after multiple tries.. Is there another way to purchase this feature?

The error message I get is:

[code]

Can you  perhaps make the app for pay?

[2020-04-02 06:48] videoMonkey commented on #99
Sorry for the long delay, yes I could. I will eventually. However, I have since changed my workflow, not because of this issue, but because of the other dev I am collaborating with. I am new to vim, but really enjoying it’s power. Using workingcopy + ssh upload I can edit directories in vim no problem. It’s actually working a lot better than secure shellfish could. Thanks for all the great work yo

[2020-04-02 07:18] vitalmsystems opened #103 "Utilizing the whole screen area"
Dear Sirs and Madams,

    Can you hint at a setting to make panes utilize the whole screen area? The red line on the screenshots below.
![IMG_0150](https://user-images.githubusercontent.com/55534553/78220735-bd844700-74ca-11ea-9fb4-f31303e7df39.PNG)
![IMG_0151](https://user-images.githubusercontent.com/55534553/78220754-c6751880-74ca-11ea-9c5c-924a268e8f20.PNG)

Thank you.
Cheers!

[2020-04-06 23:28] physicophilic opened #104 "Symlink for the .vimrc file gets rejected"
I am using iPadOS 13.2.1, and it is jailbroken. I am working from /var/mobile/Documents directory,
as I have unsandboxed iVim, succesfully.

In order to sync the .vimrc file with the rest of my devices I was trying to create a symlink, but after
having tried both soft and hard links, I gave up.

Each time when I would open Vim it would show black screen and wouldn't launch. This kind of symlinking

[2020-04-07 02:27] terrychou commented on #101
I will look into this.

[2020-04-07 02:35] terrychou commented on #103
The "wasted" space at the bottom is caused by the height of the font you are using. The screen height is divided by the height of the font. However, when it reaches the bottom, the left space cannot fit a complete font height.

As to the rightmost part, it should be the scrollbar shown.

[2020-04-07 02:42] terrychou commented on #104
have you updated your $HOME to reflect the folder of .vimrc?

[2020-04-07 02:42] #98 closed

[2020-04-07 02:45] #94 closed

[2020-04-07 03:15] terrychou commented on #100
Since iVim already has the external command `open` available, all you need to do is to make it as the viewer command. You can do this in either of two ways:

1. put `let g:netrw_browsex_viewer='open'` into your `.vimrc` file;

2. uncomment and set the above settings via `:NetrwSettings`.

[2020-04-07 11:01] physicophilic commented on #104
Originally $HOME is ~/ directory which is /var/mobile by default. After unsandboxing, Vim automatically took
/var/mobile/Documents as its "home" directory, i.e. it  responded to a vimrc present in this folder. I tried placing .vim and .vimrc outside to ~/, but it doesn't respond to that.

After reading your comment, I tried to change my $HOME to /var/mobile/Documents by editing /etc/passwd as root

[2020-04-08 15:26] mchalkley commented on #100
I chose to use your first option and it worked perfectly - thanks!

Mark

[2020-04-09 02:13] terrychou commented on #100
@mchalkley no problem.

[2020-04-09 02:13] #100 closed

[2020-04-09 02:19] terrychou commented on #104
You don't have to change your $HOME, you can just put the `.vimrc` file into it.

Are you sure we are talking about `iVim` of this project?

[2020-04-09 02:21] terrychou commented on #101
It's been fixed, and will be available in the next update.

[2020-04-09 17:09] namuelo commented on #101
Thank you. I'm waiting that update eagerly.

On Wed, Apr 8, 2020 at 9:21 PM Terry Chou <notifications@github.com> wrote:

[2020-04-10 07:31] #103 closed

[2020-04-18 05:59] angarc opened #105 "Which is the most compatible plugin manager"
I usually use vim plug, but I wasn't able to get it to work. I tried adding plugged.vim on the .vim/autoload/ directory, but when I ran `:PlugInstall` it said there was no command for PlugInstall.

It doesn't matter which one I use, just as long as I'm able to install some. Do you know of any that work?

[2020-04-19 02:02] terrychou commented on #105
Most vim plugin managers utilize the external command `git`. Unfortunately, it is not available in iVim. As a result, you may need to copy the plugin files into their necessary positions by hand for now.

[2020-04-19 20:57] angarc commented on #105
awesome, thanks

[2020-04-19 20:57] #105 closed

[2020-04-20 23:31] weiszr opened #106 "Ivim does not open..."
Ivim does not open, neither from the desktop nor through share.

[2020-04-21 01:54] terrychou commented on #106
More details would be more helpful. For example:

* which version of iVim are we talking about? iOS's version? Your device?
* what modifications (especially concerning iVim's configuration) did you make before the failure?
* Have you tried to launch iVim without reading rc files?

[2020-04-21 01:57] #104 closed

[2020-04-21 01:59] terrychou commented on #101
Version 2.16, which includes this fix, is now available.

[2020-04-21 02:01] terrychou commented on #53
This feature is now available in version 2.16.

[2020-04-22 02:20] terrychou opened #107 "Writings on iVim from you"
@brettc sent me an email saying that they would like to share how they are using iVim and managing plugins with the help of Working Copy: https://github.com/brettc/ivim

It always feels great to know that iVim helps. If you have something like this and would like to share, please do not hesitate and post the link here in this thread. It would probably help someone in need.

[2020-04-22 02:25] mchalkley commented on #107
This is awesome - thank you for posting it!

[2020-04-22 09:18] normen opened #108 "Various keyboard issues on iPadOS"
Hi,

first of all thanks for porting VIM to iOS, I was really happy to see this editor on the App Store and immediately supported the project with a big donation plus auto restore.

However I seem to have some issues with my external bluetooth keyboard.
- The key repeat function doesn't work for `hjkl`
  - The key repeat setting is enabled but the keys don't repeat
  - The arrow keys do repeat how

[2020-04-23 03:15] terrychou commented on #108
@normen Glad to know that you like iVim and thanks for generous support.

1. the `hjkl` key repeating problem

It is strange because I have tested them on two external keyboards, and they all work well.
Are you having the same problem with keys other than these four, say, `abcd`? If this problem `only` happens to these four keys, it would be more strange to me because the implementation is the sam

[2020-04-23 09:20] normen commented on #108
1) Yes, it is like that for all keys without modifiers, also when I am in insert mode typing text. Funny thing is when I press e.g. Shift-2 to get a quote character that DOES repeat.

2) Really iVim shouldn't have to support anything here. For iVim the key combo `Ctrl-Alt-9` should equate to `Ctrl-]` because even before iVim iPadOS should have made `Alt-9` to `]`.

Again, both of these work just l

[2020-04-24 03:25] terrychou commented on #108
what hardware keyboard are you using, and which language are you in on iOS?

[2020-04-24 06:24] #101 closed

[2020-04-24 06:25] #53 closed

[2020-04-24 06:54] normen commented on #108
I'm in german using this keyboard: https://www.amazon.de/dp/B074N3DLW5/ref=cm_sw_r_cp_tai_TVOOEbRKASEGR

It has iOS and Windows modes, in iOS mode ] is on 9 and in Windows mode it's on 6, both modes work in Blink and don't in iVim

[2020-04-25 03:14] voltprime-b opened #109 "Build fails with "No such module 'ios_system'""
I'm trying to build iVim locally.

I cloned the repo (currently at 8a160df "Merge branch 'enableterm'") and switched it to my own team & group, but I'm stuck. It keeps complaining, "No such module 'ios_system'" in iVim/VimAppDelegate.swift.

Do you know how I can fix this?
<img width="1280" alt="Screen Shot 2020-04-24 at 10 12 23 PM" src="https://user-images.githubusercontent.com/64295690/80269857

[2020-04-25 12:27] normen commented on #108
As an update to this, I tried using a non-bluetooth keyboard (which is using the iPad Pro keyboard connector) and I got the same results. `hjkl` And other normal keys don't repeat, combinations with shift do repeat, `[` and  `]` are available only through the special `
ä` and `ü` characters on the german keyboard, not through the default alt combination.

[2020-04-25 14:44] normen commented on #108
Correction: `ÖÄÜ` _do not_ work as a `/[]` replacement in iVim, that was in Blink, sorry. These keys are usually mapped when VIM is running on german keyboards because they're in the same location.

[2020-04-26 02:12] terrychou commented on #108
This should have nothing to do with the keyboard connection way (Bluetooth or wired). Which language are you using in the software keyboard (not the system language)? Is it the standard English one? If not, can you add and try the standard English one?

[2020-04-26 02:58] normen commented on #108
I have set my system (iOS) to german, with the english keyboard optionally enabled. The hardware keyboard is german. When I switch the software keyboard to english the keys on the keyboard are all over the place, neither german nor US mapping. But the behavior is basically the same. `Ctrl-]` does work in that case (after I found the key) but only because it's not an `Alt` combination.

Normally wi

[2020-04-26 03:11] terrychou commented on #108
Is the key repeating working with the software keyboard switched to the English one?

Because the key repeating or the external keyboard support has been mainly implemented specifically for the software English keyboard, it would not work properly with other configurations. I suspect that, due to the configuration, iVim doesn't even catch the key pressing events which is necessary for the key repe

[2020-04-26 04:08] terrychou commented on #109
Frameworks for external commands support are not contained in the repository. You need to download and deploy them from the release: https://github.com/terrychou/iVim/releases/tag/v1.0

[2020-04-26 06:00] voltprime-b commented on #109
Thanks for the quick response.
Unfortunately, it quickly ran into another error: "iVim/Resources/python: No such file or directory"
The Resources directory is missing, and I'm not sure how to fill in all its missing files. "python" seems simple enough, but then there's the commandDictionary.plist and extraCommandsDictionary.plist. I'm trying to follow holzschu's readmes in their repos, but no luck

[2020-04-26 07:06] terrychou commented on #109
Added the related resources to the release too. Download and deploy it.

[2020-04-26 09:05] normen commented on #108
No

[2020-04-26 15:58] normen opened #110 "iVim freezes when opening a file from NextCloud, can't open folder on NextCloud"
Hi,

I am using a NextCloud cloud server along with my iCloud and it seems iVim doesn't fully support using NextCloud.

When I try to load a folder using `:idoc dir` the NextCloud main folder is greyed out. I suppose this is because iOS only supports iCloud as "real" folders. But when I select a file from NextCloud using `:idoc` it opens and I can see its contents but then iVim immediately freezes

[2020-04-26 17:45] voltprime-b commented on #109
Thank you. I'm able to build now!

[2020-04-26 17:45] #109 closed

[2020-04-26 18:40] normen commented on #110
In case you want to test yourself and have no access to a NextCloud instance, I can give you a test account on my NextCloud if you need one.

[2020-04-26 22:39] normen opened #111 "iVim deletes all inactive files in opened iCloud folder"
Well..

Sadly I can't (and don't want to) really reconstruct what exactly has triggered this but the folder I used to test iVim with (the iCloud folder of TextEdit) is suddenly empty, only the two files I opened in iVim remain in the folder.

I opened that folder various times using the `:idoc dir` command and edited a few files. I definitely didn't call `:!rm *` or anything like that and while I

[2020-04-26 22:54] normen commented on #111
Come to think of it, I did switch the document storage location in a-Shell before this happened.. I'll post an issue there as well and link this one.

[2020-05-08 17:22] NightMachinary commented on #94
@terrychou How do I persist the font size between relaunchs?

[2020-05-09 03:14] terrychou commented on #94
@NightMachinary If you have enabled the auto-restore, it should restore the font size between relaunches automatically; otherwise, you can put `ifont _ 20` (`20` here is the font size) into your `.vimrc` file.

[2020-05-09 05:18] NightMachinary commented on #94
@terrychou How do I enable the auto restore?

[2020-05-09 08:56] terrychou commented on #94
@NightMachinary Please refer to `:help ios-settings`

[2020-05-13 14:51] mchalkley opened #114 "iVim app switching problem"
I've been having an issue with iVim for many weeks now that's really puzzling.  I only mentioned it once in a comment in another issue because I figured it must have something to do with my own specific usage, but now I'm not so sure.  The problem is this:

About 10% of the time when I use Cmd-Tab to switch from another app to iVim, the cursor appears as a hollow block, rather than the normal soli

[2020-05-14 06:19] terrychou commented on #114
The hollow block cursor means iVim is not getting focused. As a result, it is not getting input from the keyboard. But I am not sure why this happens just by reading your description.

Do you have a sure way (happens 100% of the time) to reproduce this problem? I need to make it happens at my end to figure out the cause and possible fix.

[2020-05-14 11:56] mchalkley commented on #114
The odd thing is that most of the keys do work - all of the alphanumeric character keys, for example.

Your comment regarding the keyboard input is definitely on the right track, because I started playing with some of the other keys on the keyboard, and found that the key that enables the onscreen keyboard doesn't work, either.  Nor does the "world" key that switches from normal to emoji, etc.  Th

[2020-05-15 05:14] terrychou commented on #114
When the hollow block cursor shows, try touching the screen to see whether the cursor restores to its normal shape (therefore, whether it fixes the problem).

Can you please turn off all the hardware keyboard settings, such as `caps lock` key mapping, key repeating, to see whether the problem is still there?

What kinds of Bluetooth keyboards are you using? The external keyboard implementation of

[2020-05-17 06:55] suliveevil commented on #107
Great idea！
I use iSH as git tool and done it completely on iPadOS.

[2020-05-17 08:45] htkm commented on #114
Sometimes I ran into this issue. In my case I use Apple Magic Keyboard. My try is to have a few times of long press on the screen to bring back and forth the extended keyboard.

By the way can I join the TestFlight? I would like to share other feedbacks. Mine is `ht@lt.gt` if I am allowed. Thanks!

[2020-05-17 23:13] suliveevil opened #115 "source ~/ivim/vimrc didn’t work"
It’s been working for a while, somehow it didn’t work and iVim go black and quit.
I tried change
[code]
to
[code]
and rename ivim/vimrc to vimrc.vim then
[code]
It still didn’t work.
Did I miss something?

[2020-05-18 04:30] terrychou commented on #114
@htkm added you into the TestFlight testers group.

[2020-05-18 15:54] htkm commented on #114
@terrychou thank you so much!

[2020-05-22 17:00] mchalkley commented on #114
@terrychou I can confirm that tapping on the screen fixes the issue.  Thank you again - iVim is simply awesome!!!

[2020-05-24 06:12] terrychou commented on #114
@mchalkley so it seems something wrong with the focus part. I will look into it. Do you use and switch to iVim in split view mode, or in standalone mode?

[2020-05-24 11:35] mchalkley commented on #114
@terrychou  I use it in standalone mode.

[2020-05-26 07:04] htkm commented on #115
cloud you try `:version` and come back with the output?

[2020-05-26 09:21] suliveevil commented on #115
![version](https://user-images.githubusercontent.com/35763237/82882935-5a67db80-9f74-11ea-8be0-24a7103384f1.png)

It’s confusing me that at first time I setup step by step and it works somehow I added some submodules and iVim go black and stucked.

There is no warning or error to find out what is happening to iVim ,so I delete all the config.

Life is so hard on iPadOS……

[2020-05-26 12:18] suliveevil opened #116 "Quit when at SplitView"
Would you please make the other app go into fullscreen instead of quit with iVim?
Thank you very much.

请问可以让 iVim 退出时让另一个 App 进入全屏模式而不是跟着 iVim 一起退出全屏吗？
万分感谢。

[2020-05-27 04:17] htkm commented on #115
So, the output reads like you can take off the `ivim` part of your source command. My understanding is you created `ivim` directory wanting to put your setup there. Is that right?

[2020-05-27 04:40] suliveevil opened #117 "Font Install Problem"
iPadOS 13.5

ERROR:failed to get text content from file ‘…’

![ERROR:failed to get text content from file ‘…’](https://user-images.githubusercontent.com/35763237/82978455-2f829380-a017-11ea-9a2c-02725c2389e9.jpeg)

[2020-05-27 09:55] htkm commented on #116
Hi, could you describe what else you have tried to do so?

[2020-05-27 13:01] htkm commented on #117
Hi, could you share another capture to see which menu caused that error?

[2020-05-27 13:17] suliveevil opened #118 "Vim 8 builtin package management function doesn’t work sometimes"
I want to use Vim 8 builtin pakage management function

[code]

Somehow it works for a while, then I add another plugin, it didn’t work and iVim stucked then it quit without wanring or some other information.

There must be wrong somewhere inside iVim, but I don’t know how to deal with or fix it.

[2020-05-27 13:20] suliveevil commented on #117
![Font Install Error](https://user-images.githubusercontent.com/35763237/83023729-e145b280-a05f-11ea-9dd0-8e703aaad955.png)

[2020-05-27 13:21] suliveevil commented on #117
I add a new screenshot

[2020-05-27 13:23] suliveevil commented on #116
Action:  use the `:q` to auit iVim.
Want:    Don’t want the other app quit with iVim.

[2020-05-27 15:50] suliveevil opened #119 "Git replacement"
Using dulwich (git implementation, pure python) as git will be great for plugin management.

[2020-05-28 07:08] htkm commented on #117
Great. Could you try with the following capture?

<img width="540" alt="PNG image" src="https://user-images.githubusercontent.com/6189096/83109832-0b00e700-a0fd-11ea-8ab6-a355a6bac959.png">

[2020-05-28 07:18] htkm commented on #118
I would like to guess outside 😃

Is it possible to have more information about the plugin sent you here?

[2020-05-28 07:36] htkm commented on #116
I see. Could you tell me what happens if you do `:iopenurl working-copy://`?

[2020-05-28 08:17] htkm commented on #116
I tried a-Shell to see what happens if I type exit in split window which made a nice transition for another window to take the rest. So I think `:iopenurl` might be useful in another case. What else can we try?

[2020-05-28 11:09] suliveevil commented on #117
There is no ”Open in iVim” in my sharesheet，only “iVim”.🤯

[2020-05-28 11:12] suliveevil commented on #118
It works, I figured it out.
In cmd mode input `scriptnames` then <kbd>Return</kbd>

[2020-05-28 11:12] #118 closed

[2020-05-28 11:18] suliveevil commented on #116
Thank your for your awesome reply.
Hope iVim will have this nice transition too.

[2020-05-28 14:18] suliveevil opened #120 "how to split vimrc to multiple files"
[code]

I have 7 rc files，but `:scriptnames` only show two of them.

[2020-05-28 16:11] htkm commented on #117
I believe you went through all of suggestions. Okay, how about trying the other way?

1. Run `:idoc` command to bring up file browser.
2. Go to your JebBrainsMono directory.
3. And pickup your font to install.

With my setup similar to yours, I was able to have the font installed.

Can you try this one more time? Hope that works.

[2020-05-28 16:24] htkm commented on #120
cloud you try `:set` and come back with the output? In this case I wonder if you could try `runtime` with `runtimepath`.

[2020-05-28 16:41] htkm commented on #116
In fact, there cloud be another way to achieve by using external keyboard such as Apple Magic Keyboard with little tweak.

Goto Settings - Accessibility - Keyboards - Full Keyboard Access toggled on,
Then bring up the Commands list section.
You will find `INTERACTION` group and `Actions` inside. This one gives users the ability to control "split-view and slide-over".

This solution has gone too fa

[2020-05-28 19:52] suliveevil commented on #120
[code]

[2020-05-28 19:56] suliveevil commented on #120
the for function does not work, I have to edit it manually.
[code]

[2020-05-28 20:48] suliveevil opened #121 "function keys"
What is the best practice to remap a shortcut to a function key?

[2020-05-28 20:57] suliveevil opened #122 "SiriShortcuts App Support"
Wish iVim could have `Shortcuts Actions` in `Shortcuts App`

[2020-05-28 21:00] suliveevil commented on #122
this is a-Shell’s `Shortcuts Action`
![a-Shell Shortcuts Action](https://user-images.githubusercontent.com/35763237/83193225-3b7e6a80-a169-11ea-9fc8-e48364b03538.png)

[2020-05-29 03:46] htkm commented on #122
Interesting. Would you be able to describe a specific flow that could be useful with iVim's shortcut support?

[2020-05-29 03:51] suliveevil commented on #122
Only if there is a way, there will be more possibilities:

-[ ] execute command

-[ ] get file

-[ ] output vim command result

[2020-05-29 03:55] suliveevil commented on #117
Thank you very much, this is the solution!

[2020-05-29 03:55] #117 closed

[2020-05-29 04:06] suliveevil commented on #107
Working Copy’s Bidirectional Synchronization and submodule sucks!

I’m no longer using Working Copy’s submodule.

Now I manually  download vim plugin’s repo as zip and unzip it to `$HOME/vim/pack/xxxxx/start/`.

Then vim builtin package management will recognize all of plugins.

ps: what is `$HOME/vim`? I use LibTerm and this `ln -s vim .vim`command to make .vim as a symbolink of vim folder.
pps:

[2020-05-29 04:18] htkm commented on #121
Like this?
`:nnoremap <F2> a<C-R>=strftime("%c")<CR><Esc>`

If you mean the shortcut by iOS, it would be like,
`:nnoremap <F2> :iopenurl shrotcuts://<CR>`

[2020-05-29 04:35] htkm commented on #122
As far as I can tell, iVim supports the launch options and I think you can start from there.
Have a look at `:h ios-settings`
With a specific arguments and `always` on, the possibilities can go far more.

And `iopenurl` in this practice looks like a nice option to return to the caller with the result of command.

[2020-05-29 04:41] suliveevil commented on #121
Thank you very much🥰🥰🥰
Only iVim/Vim could have all key codes on iPadOS!

[2020-05-29 04:41] #121 closed

[2020-05-29 04:42] htkm commented on #119
I am curious about what kind of task requires Git and its replacement beside the plugin management. Just for that, could try `:h iplug` and share your experience? Thanks.

[2020-05-29 04:44] suliveevil commented on #116
Thank you very much!
I will try it.

[2020-05-29 04:53] suliveevil commented on #122
Learned a lot about iVim from you😘😘😘

[2020-05-29 04:53] #122 closed

[2020-05-29 04:59] suliveevil commented on #119
Tried `:h iplug` ,then I get
[code]
😂😂😂

[2020-05-29 05:03] suliveevil commented on #119
Git is just a tool to sync plugin repos.
Since iVim have `python3` (and `curl`), dulwich will be a python version of Git.
Then we can sync/pull plugin repo from GitHub/GitLab/Gitee…

[2020-05-29 05:42] htkm commented on #119
@terrychou could you estimate the time release of next version? Seems to me like `iplug` is only available in the test flight version.

[2020-05-29 05:50] htkm commented on #107
Could you elaborate on `ps` and `pps`?

What kind of problem made you ask about `$HOME/vim`? What is the specific part of setup you want to get?

[2020-05-29 06:19] terrychou commented on #114
@mchalkley made some improvement on focus and pushed it to TestFlight (2.20(3)), please try it to see whether the problem is solved.

[2020-05-29 06:20] terrychou commented on #106
I'll close this issue since it gets no further responses.

[2020-05-29 06:20] #106 closed

[2020-05-29 06:25] suliveevil commented on #107
I explained in my `ps` and `pps`.
I will update my comment to make it more plainly understandable.

[2020-05-29 06:25] terrychou commented on #116
The expected behavior requires an app to adapt the multiple windows feature in iOS 13. iVim hasn't made the adaption since it seems not so necessary (iVim already has its own windows management mechanism).

[2020-05-29 06:30] terrychou commented on #119
the new Plugins Manager `iplug` is right now in testing, it will be release soon.

[2020-05-29 06:36] terrychou commented on #115
It may have some problematic commands in the sourced file. It is hard to tell if we don't know its content.

[2020-05-29 06:42] suliveevil commented on #114
Would you please add me to TestFlight？
suliveevil@icloud.com
Thank you very much

[2020-05-29 06:47] suliveevil commented on #116
If iVim will quit the splitview without bring the other app along，
it will works better with other app，like Dash 、SiriShortcuts or someother apps.

[2020-05-29 06:48] terrychou commented on #114
@suliveevil done.

[2020-05-29 06:52] suliveevil commented on #115
I was using brettc’s solution to add plugins to iVim back then.
Now I give up using git submodule because Working Copy’s submodule sucks…

I’m using Vim8’s builtin package management now,and it works fine and plainly understandable than pathogen or dein.

I comment my solution to [issue-107](https://github.com/terrychou/iVim/issues/107)

[2020-05-29 06:53] suliveevil commented on #119
🤩 🤩 🤩 this is great

[2020-05-29 06:53] suliveevil commented on #114
Thank you😊

[2020-05-29 07:03] #119 closed

[2020-05-29 07:03] #115 closed

[2020-05-29 09:25] suliveevil opened #123 "how to add plugins from file like Python’s pip install -r requirements.txt"

[2020-05-29 09:27] suliveevil commented on #123
If there is a something like

[code]

It will definitely be a game changer!

[2020-05-29 09:50] suliveevil opened #124 "iplug remove is not clean"
[code]

Then iVim says “ Plugin ‘vim-which-key’ already installed”

I force quit iVim during those commands, but it insists plugin already Installed.

I will try to reinstall iVim and run `:!mkdir vim`  `:!ln -s vim .vim` then `:iplug add https://github.com/liuchengxu/vim-which-key`

[2020-05-29 09:58] htkm commented on #123
thanks for sharing a great idea. i wonder what if it would look like in nodejs culture. perhaps `:iplug yarn packages.json<cr>`?

[2020-05-29 10:03] suliveevil commented on #123
Yeah, and JSON is awesome.
We may specify each plugin’s location(type folder) and other iplug `options`  in it!

[2020-05-29 10:22] suliveevil commented on #123
made an example

[code]

[2020-05-29 10:25] #124 closed

[2020-05-29 10:31] suliveevil opened #125 "iplug options: add folder option"
Let’s say there is a cmd like this:

[code]

it add nerdcommenter under

[code]

with multi options

[code]

it add nerdcommenter under

[code]

[2020-05-29 14:48] suliveevil opened #126 "iplug clone --depth=1"
Would you please add this as an option？
For someone just want use the newset version of plugin and fast install。

[2020-05-29 15:00] suliveevil opened #127 "iplug quit when cloning"
✅ 45 plugin install with option `-q` test
❌ 45 plugins install without option test
[code]

Quit when cloning,and `iplug list` say that I have 0 plugin installed.
But I can see 28 folders in `~/.vim/pack/ivim/start`
Test `:Goyo`  and the interface shows that plugin Goyo works.
Wired.

[2020-05-29 15:10] suliveevil commented on #127
run cmd again and then I got this
![already exists、disabled](https://user-images.githubusercontent.com/35763237/83275226-78963b80-a201-11ea-8a7e-a05832d6a21b.jpeg)

[2020-05-29 17:00] htkm commented on #127
Thanks for having a battle test!  I don't know much about how iOS works, my guess is that each app installed in iOS is sandboxed thus subject to unexpected result or even app termination when iOS thinks it's necessary to keep other apps working as designed.

But you are right, would you mind test with 30, 20, 10, and 5 plugins and comeback with the result? That might give a better coordination to

[2020-05-30 00:20] suliveevil commented on #127
Yeah, I can do this.Wait a minute.

[2020-05-30 00:22] suliveevil opened #128 "iplug local plugin and vim.org download url and vba and zip file support"
like dein , not vim-plug

[2020-05-30 00:30] suliveevil commented on #128
like dein , not vim-plug

[2020-05-30 00:38] suliveevil commented on #127
29 plugin test,24 folders found,0 plugins on `iplug list`
[code]

[2020-05-30 00:40] suliveevil commented on #127
![29 plugin test](https://user-images.githubusercontent.com/35763237/83315237-12390980-a251-11ea-850b-c7b897561c3b.jpeg)

[2020-05-30 00:44] suliveevil commented on #127
BTW: I use this [Shortcuts](https://www.icloud.com/shortcuts/e9a0506773da4ad6ae5f837f6f0120ed) to test.

[2020-05-30 00:47] suliveevil commented on #127
✅ 20 plugin test
[code]
![20 plugin test](https://user-images.githubusercontent.com/35763237/83315382-30533980-a252-11ea-8785-9c349a72d402.png)

[2020-05-30 01:06] suliveevil commented on #127
❌ 25 plugins test
installed 21，3 faild due to http error,1 missing
`iplug list` couldn’t correctly show them.
![25 plugins test](https://user-images.githubusercontent.com/35763237/83315758-bd978d80-a254-11ea-8aa6-448f013f3b2b.jpeg)

[2020-05-30 01:15] suliveevil commented on #127
✅ 20 plugin test
[code]
![20 plugin test](https://user-images.githubusercontent.com/35763237/83315382-30533980-a252-11ea-8785-9c349a72d402.png)

[2020-05-30 01:16] suliveevil commented on #127
✅ 10 plugins test

[code]

[2020-05-30 01:17] suliveevil commented on #127
20 or 10 is just ok for iplug to deal with, I won’t test 5 again.

[2020-05-30 01:38] terrychou commented on #123
The subcommands `export` and `import` will be added in the next version.

[2020-05-30 01:47] terrychou commented on #125
`iplug` will puts vim 8 packages (which has sub-directory `start` or `opt`) under `~/.vim/pack/`; puts plugins (which is not a package) under `~/.vim/pack/ivim/start` or `~/.vim/pack/ivim/opt`, for better management. A `folder` option seems not necessary since iVim tries to abstract this structure from users.

[2020-05-30 01:47] suliveevil commented on #123
Wow! That would be awesome!

[2020-05-30 01:47] #123 closed

[2020-05-30 01:49] terrychou commented on #126
`iplug` is backed by the library `libgit2` which doesn't implement or offer shallow cloning, so it is not possible for now.

[2020-05-30 01:50] suliveevil commented on #125
Yeah,I rethought about it, classify by folder may not be a good idea.
I wlll recognize my rc files instead.

[2020-05-30 01:50] #125 closed

[2020-05-30 01:51] suliveevil commented on #126
😂

[2020-05-30 01:51] #126 closed

[2020-05-30 01:54] terrychou commented on #128
Actually, this was in the original plan. But it was dropped for a better implementation. I will think about it.

[2020-05-30 01:55] suliveevil commented on #128
Lets say I have a plugin under dev,
I just want put it under `~/.vim/pack/dev/start/`
Wish iplug automatically scan and deal with it.

[2020-05-30 01:56] suliveevil commented on #128
Like generate help doc、update changed doc

[2020-05-30 02:04] terrychou commented on #127
Thanks for this pressure test, it is very helpful. By "quit", do you mean "iVim crashes"? Also, right now, `iplug` doesn't implement background tasks, so it wouldn't work if you switch away from iVim while `iplug` is working.

`iplug` summarizes and records installed plugins at the end of whole operation, so if the adding fails, there would be zero plugins recorded.

[2020-05-30 02:32] suliveevil opened #129 "External Commands List"
iVim have a lot of External Commands before I find it.
Would you please list all the External Commands?
[code]

[2020-05-30 02:37] terrychou commented on #129
Pressing `tab` at an empty prompt in `ivish` will list all the available commands.

[2020-05-30 02:44] suliveevil commented on #129
Thank you very much.
I have lots things to learn.

[2020-05-30 02:44] #129 closed

[2020-05-30 02:48] suliveevil opened #130 "Run ictags like a External Command"
How to run `ictags` like a External Command?
So that I don"t have to change plugins like Vista.vim、LeaderF、Tagbar，just `let g:tagbar_ctags_bin='ictags'`

[2020-05-30 02:57] htkm commented on #127
I was amazed by reading your shortcut which made me feel your overwhelming energy towards iVim. Inspired by you, I came up with an idea that might be able to support you hence the community. Let me allow a few hours. Thanks guys I was boring Saturday but no more.

[2020-05-30 03:11] suliveevil opened #131 "Python Module：pynvim、Greenlet Support"
I want to use Defx and it requires other two plugin and Python Module `neovim` whose dependencies are `pynvim` `greenlet`
Is it possible to integrated these modules into iVim?

[2020-05-30 03:13] htkm commented on #120
Hey @suliveevil, why did you close this issue? I was studying on that practice using `runtime` and `runtimepath`. Let me continue. Even though I might comeback nothing 😃

[2020-05-30 03:13] suliveevil commented on #127
Yes, too many plugins installing simutanously makes iVim crash.

[2020-05-30 03:18] htkm commented on #131
`Defx` sounds cool tough I have no idea about it. How does it work? and what kind of problems does it solve?

[2020-05-30 03:19] suliveevil commented on #127
I made this Shortcuts using [Dictionary Action Builder](https://routinehub.co/shortcut/4626)

[2020-05-30 03:20] terrychou commented on #127
@suliveevil would you try the "45" one with the option `-q`? It won't show the progress view but will give a short notification at the end of the whole operation. If this succeeds, it would something wrong with the progress view...

[2020-05-30 03:21] suliveevil commented on #127
I made Vim assistant by using this [Dictionary Action Builder](https://routinehub.co/shortcut/4626) Shortcuts.

[2020-05-30 03:22] suliveevil commented on #127
Yeah,wait a minute.

[2020-05-30 03:25] terrychou commented on #130
The `ictags` was added before the "external commands" idea, maybe I should change it to an external command completely.

[2020-05-30 03:46] htkm commented on #82
If I want to try something in the wiki, @terrychou do you have any preference for future inputs to be aligned in a specific way? Because I am new to here and want to follow your guideline.